<template name="tabevents">
	<div class="events-container">
	{{#each betList}}
		<div class="event-container sidebarModalOut">
			<img class="img-event" src={{this.image.url}}> <!-- Imagem back /imgs/event-card-image3.png -->
			<div class="event-name-dynamic">{{title}}</div>
			<div class="pot"><span><img src="/imgs/pot-coin-icon.png" alt=""></span>&nbsp;{{totalPot this}}</div>
			<img class="img-event-player" src="/imgs/user.png"> <!-- Imagem perfil canal -->
			<div class="event-over-effect">
				<div class="channel-name-dynamic">{{channelName}}</div>
				<div class="play-event"><img class="event-play-img" src="/imgs/event-play.png" alt=""></div> <!-- Imagem  -->
				<div class="pot-1"><div><img src="/imgs/pot-coin-icon.png" alt=""></div>{{totalBettors this}}</div> 
				<div class="pot-2"><div><img src="/imgs/pot-coin-icon.png" alt=""></div>---</div>
			</div>
		</div>
	{{else}}
	<div class="events-container">
		No bets!
	</div>
	{{/each}}
	</div>

	<div class="filter">
		<div class="filter-title">
			Refine results by
		</div>
		<div class="filter-aplied">
			Filters aplied
		</div>
		<ul class="choosed-list">
			<li class="choosed-option"><span><img src="/imgs/browse-choosed-icon.png" alt=""></span>&nbsp;&nbsp;#CSgo <span class="number">(1500)</span></li>
			<li class="choosed-option"><span><img src="/imgs/browse-choosed-icon.png" alt=""></span>&nbsp;&nbsp;#Zé banguela <span class="number">(1500)</span></li>
		</ul>
		<div class="Hashtags">
			Hashtags
		</div>
		
		<div class="separator">
			<div tabindex="0" class="events-search">

			<input type="text" placeholder="Search..." id="events-search-text-input"/>
			<span id='events-button-holder'>
    			<img src='/imgs/search.png' />
			</span>
		</div>
		</div>
		<ul class="choose-list">
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#LOL <span class="number">(1500)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#Buceta preta <span class="number">(666)</span></li>
		</ul>
	</div>
</template>