
<template name="genericServiceTemplate" >
    <div class="video-stream">
        <iframe service={{this.name}} name={{name}} src={{srcEmbed}} frameborder="0" scrolling="no"></iframe>
         <a href={{hrefEmbed}} style=""></a>
    </div>
</template>

<template name="embed" >
    <div class="video-stream">
        <iframe name={{name}} src={{srcEmbed}} frameborder="0" webkit-playsinline scrolling="no" style={{fullscreamStyle}} height="100%" width="100%">
            <img src="http://www.robolaranja.com.br/wp-content/uploads/2014/10/Primeira-imagem-do-filme-de-Angry-Birds-%C3%A9-revelada-2.jpg" height="100%" width="100%">
        </iframe>
    </div>
</template>

<template name="webembed" >
    <div class="video-stream">
        <iframe name={{name}} src={{srcEmbed}} frameborder="0" webkit-playsinline scrolling="no" style={{fullscreamStyle}} height="100%" width="100%"></iframe>
    </div>
</template>

<!-- Depreciados -->

<template name="streamServiceContent">

	{{> DynamicTemplate template=getServiceTemplate data=getServiceTemplateData }}

</template>

<template name="twitchServiceTemplate" >
    <div class="video-stream">
        <iframe src={{srcEmbed}} frameborder="0" scrolling="no"></iframe>
         <a href={{hrefEmbed}} style=""></a>
    </div>
</template>

<template name="azubuServiceTemplate" >
    <div class="video-stream">
        <iframe src={{srcEmbed}} allowfullscreen frameborder=0></iframe>
    </div>
</template>