<template name="tabchannels">
	<div class="channels-container" >
		{{#each channelList}}
		<a href="{{pathFor route='channel'}}">
		<div class="channel-container sidebarModalOut">
			<img class="img-channel" src={{image.channel_photo_url}}>
			<div class="channels-name-dynamic">{{name}}</div>
			
			<div class="channel-over-effect">
				<div class="channel-name-dynamic">{{name}}</div>
				<div class="play-channel"><img class="channel-play-img call-channel" src="/imgs/event-play.png" alt=""></div>
				<div class="pot-1"><div><img src="/imgs/pot-coin-icon.png" alt=""></div>Item 1</div>
				<div class="pot-2"><div><img src="/imgs/pot-coin-icon.png" alt=""></div>Item 2</div>
			</div>
		</div>
		</a>
		{{else}}
			No channels...
		{{/each}}
	</div>
<!--
	<div class="channels-container" >
		<div class="channel-container">
			<img class="img-channel" src="/imgs/channel-card-image3.png">
			<div class="channels-name-dynamic">ESL BRASIL</div>
			
			<div class="channel-over-effect">
				<div class="channel-name-dynamic">ESL BRASIL</div>
				<div class="play-channel"><img class="channel-play-img" src="/imgs/event-play.png" alt=""></div>
				<div class="pot-1"><div><img src="/imgs/pot-coin-icon.png" alt=""></div>300</div>
				<div class="pot-2"><div><img src="/imgs/pot-coin-icon.png" alt=""></div>300</div>
			</div>
		</div>
	</div>
-->
	<div class="filter">
		<div class="filter-title">
			Refine results by
		</div>
		<div class="filter-aplied">
			Filters aplied
		</div>
		<ul class="choosed-list">
			<li class="choosed-option"><span><img src="/imgs/browse-choosed-icon.png" alt=""></span>&nbsp;&nbsp;#CSgo <span class="number">(1500)</span></li>
			<li class="choosed-option"><span><img src="/imgs/browse-choosed-icon.png" alt=""></span>&nbsp;&nbsp;#Zé banguela <span class="number">(1500)</span></li>
		</ul>
		<div class="Hashtags">
			Hashtags
		</div>
		
		<div class="separator">
			<div tabindex="0" class="channels-search">

			<input type="text" placeholder="Search..." id="channels-search-text-input"/>
			<span id='channels-button-holder'>
    			<img src='/imgs/search.png' />
			</span>
		</div>
		</div>
		<ul class="choose-list">
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#LOL <span class="number">(1500)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
			<li class="choose-option"><span><img src="/imgs/browse-choose-icon.png" alt=""></span>&nbsp;&nbsp;#teste  <span class="number">(666)</span></li>
		</ul>
	</div>
</template>