<template name="channel">
    <div class="channel-background">
        <div class="channel-center-content">
            <div class="channel-center-content-wraper">
                <div>
                    <!-- <div class="ower-container">
                        <a href="javascript:void(0)" class="edit-channel-container">
                            <div class="edit-button">Edit Channel</div>
                        </a>
                        <div class="edit-right-side">
                            <a href="javascript:void(0)" class="new-event-container">
                                <div class="new-event-button">New Event</div>
                            </a>
                            <a href="javascript:void(0)" class="new-notification-container">
                                <div class="new-notification-button">New Notification</div>
                            </a>
                        </div>
                    </div> -->
                    <!-- <img class="channel-img" src={{image.profile.url}} alt="kk"> -->
                    <img class="channel-img" src="/imgs/user.png" alt="kk">
                    <div class="channel-title">
                        <div class="ctitle">{{name}}</div>
                        <div id="dl-menu" class="dl-menuwrapper">
                            <a href="javascript:void(0)" class="dl-trigger"><img src="/imgs/icon_edit.svg" class="icon-edit"></a>
                            <ul class="dl-menu">
                                <li>
                                    <a href="#" id="modifyinfo">Modify infos</a>
                                </li>
                                <li>
                                    <a href="#" id="modifybackground">Modify background</a>
                                </li>
                                <li>
                                    <a href="#" id="modifybios">Modify bios</a>
                                </li>
                                <li>
                                    <a href="#" id="modifylinks">Modify streaming links</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /dl-menuwrapper -->
                    <div class="about-stream">
                        <span class="player-name">{{username}}&nbsp;
                        </span> plays
                        <span class="stream-name">
                            {{streamName}}
                        </span>
                        <span class="channel-reputation">
                            &nbsp;&nbsp;&nbsp;{{reputation}}%
                        </span> &nbsp;&nbsp;&nbsp;
                        <!-- <span>
                            <img class="rep-img" src="/imgs/rep-img.png" alt="">
                        </span>
 --></div>
                    <div class="channel-options">
                        <span>
                            <img class="channel-bar-option" src="/imgs/channel-bar-option.png" alt="">
                        </span>
                        <span>
                            <img class="channel-bar-repeat" src="/imgs/channel-bar-repeat.png" alt="">
                        </span>
                        <span>
                            <img class="channel-bar-favorite" src="/imgs/channel-bar-favorite.png" alt="">
                        </span>
                    </div>
                </div>
                {{> DynamicTemplate template=getServiceTemplate data=getServiceTemplateData }}
                <!--{{> genericServiceTemplate }}-->
                <div class="channel-like-options">
                    <img class="channel-follow-infoimg" src="/imgs/channel-info-favorite.png" alt="">&nbsp;&nbsp;<span class="channel-follow-info">{{followers}}</span>
                    <img class="channel-view-infoimg" src="/imgs/channel-info-views.png" alt="">&nbsp;&nbsp;<span class="channel-view-info">{{viewers}}</span>
                    <span class="channel-dislike-info">{{dislikes}}</span>&nbsp;&nbsp;<img class="channel-dislike-button" src="/imgs/dislike-img.png" alt="">
                    <span class="channel-like-info">{{likes}}</span>&nbsp;&nbsp;<img class="channel-like-button" src="/imgs/like-img.png" alt="">
                </div>
                <div class="channel-main-options">
                    <div class="channel-main-options-container">
                        <!-- <ul class="channel-opton-list">
                            <li name="liveEvents" class="channel-option-container-live-event channel-option">
                                <img src="/imgs/icon_coin.png" name="liveEvents" alt="" class="img-coin">
                                <div class="live-event-name" name="liveEvents">live events</div>
                                <div class="choose-effect" name="choose-effect-liveEvents"></div>
                            </li>
                            <li name="info" class="channel-option-container-info channel-option">
                                <img name="info" src="/imgs/icon_coin.png" alt="" class="img-coin">
                                <div name="info" class="event-name">info</div>
                                <div class="choose-effect" name="choose-effect-info"></div>
                            </li>
                            <li name="history" class="channel-option-container-history channel-option">
                                <img name="history" src="/imgs/icon_coin.png" alt="" class="img-coin">
                                <div name="history" class="channel-name">history</div>
                                <div class="choose-effect" name="choose-effect-history"></div>
                            </li>
                        </ul> -->
                        <ul class="game-browser-toolbar channel-toolbar">
                            <li name="tabfavorites" class="item clickable browse-option">
                                <div class="icon center not-clickable">
                                    <span class="icon icon-32 icons-money-stack"></span>
                                </div>
                                <p class="label center not-clickable browseTabLabel">
                                    <a href="javascript: void(0);">
                                        <strong>Events</strong>
                                    </a>
                                </p>
                            </li>
                            <li name="tabtags" class="item clickable browse-option">
                                <div class="icon center not-clickable">
                                    <span class="icon icon-32 icons-info"></span>
                                </div>
                                <p class="label center not-clickable browseTabLabel">
                                    <a href="javascript: void(0);">
                                        <strong>Info</strong>
                                    </a>
                                </p>
                            </li>
                            <li name="tabchannels" class="item clickable browse-option">
                                <div class="icon center not-clickable">
                                    <span class="icon icon-32 icons-concluded"></span>
                                </div>
                                <p class="label center not-clickable browseTabLabel">
                                    <a name="tab-channels" href="javascript: void(0);">
                                        <strong>Historic</strong>
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                {{> channelContent }}
            </div>
        </div>
        <div class="channel-right-content">
            <div class="announcement-conteiner">
                <div class="announcement-title">Announcement</div>
                <div class="announcement">
                    I'd like inform the Isaac is bigest "puta talibã" of the world, if you are a "puta" you are more man/ wonman than this.... puta talibã?
                </div>
            </div>
            <div class="bet-time-container">
                <div class="bet-time">
                    <input class="knob" data-displayInput=false data-bgColor="#FFFFFF" data-fgColor="#2ebfd5" data-thickness="0.2" data-max="0" readOnly="true">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <div class="bet-container">
                                    <span id="cifrao">$</span>84
                                </div>
                            </div>
                            <div class="back">
                                <div class="bet-finish-timmer">
                                    13:10:25
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bet-selected-container">
                <div class="bet-selected-detail">
                </div>
                <div class="bet-selected">
                    Which team will win this match?
                </div>
            </div>
            <div class="bet-option-container">
                <div class="bet-option play-modal">
                    <!--Adicionei à classe play-bet -->
                    <div class="bet-option-text ">
                        Luminosity Gaming
                    </div>
                    <div class="bet-percent">
                        68%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Apresenta modal ao clicar em play-bet 
    {{#if presentOptionPopup}} {{> DynamicTemplate template=getModal data=getDataContext}} {{/if}} -->
</template>
