<template name="modifyLinks">
    <div class="overlay overlayModal">
        <div class="turnoffmodal dismissModal">
            <a href="javascript: void(0);" class="overlay-closer">
                <span class="icon icon-24 icons-cross"></span>
            </a>
        </div>
        <div class="dialog-box modifybackground-box">
            <div class="title-wrap">
                <h1 class="title first">Modify Channel Links</h1>
            </div>
                <div class="group">
                    <div class="services-container">
                        <ul id="links-icon-list">
                            <li class="link-icon active">
                                <a href="#" ><img src="/imgs/service_icons/twitch.svg" alt=""></a>
                            </li>
                            <li class="link-icon">
                                <a href="#"><img src="/imgs/service_icons/azubu.svg" alt=""></a>
                            </li>
                            <li class="link-icon">
                                <a href="#"><img src="/imgs/service_icons/hitbox.svg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="group">
                    <div class="edit-title-section">Connect with Twitch to show when you're streaming</div>
                </div>
                <div class="group">
                    <input type="text" placeholder="Twitch Channel URL" class="input item input-edit" id="password-input">
                </div>
                
            <br>
            <br>
            <div class="group center">
                <a href="#" class="dismissModal">Cancel</a><a href="javascript:void(0)" id="save-button-action" class="button teal center item">Save</a>
            </div>
        </div>
    </div>
</template>