<template name="modifyBios">
    <div class="overlay overlayModal">
        <div class="turnoffmodal dismissModal">
            <a href="javascript: void(0);" class="overlay-closer">
                <span class="icon icon-24 icons-cross"></span>
            </a>
        </div>
        <div class="dialog-box modifybackground-box">
            <div class="title-wrap">
                <h1 class="title first">Modify Bios</h1>
            </div>
                <div class="group">
                    <div class="edit-title-section">Your Bios</div>
                </div>
               
                <textarea rows="10" class="short-bios-text" name="short-text"></textarea>
                <div class="edit-title-section">Max 2000 Chars</div>
            <br>
            <br>
            <div class="group center">
                <a href="#" class="dismissModal">Cancel</a><a href="javascript:void(0)" id="save-button-action" class="button teal center item">Save</a>
            </div>
        </div>
    </div>
</template>