<template name="modifyBackground">
    <div class="overlay overlayModal">
        <div class="turnoffmodal dismissModal">
            <a href="javascript: void(0);" class="overlay-closer">
                <span class="icon icon-24 icons-cross"></span>
            </a>
        </div>
        <div class="dialog-box modifybackground-box">
            <div class="title-wrap">
                <h1 class="title first">Modify Backgrounds</h1>
            </div>
            <div class="group">
                <div class="upload-img-container ">
                    <div class="card-img-info">
                        <span class="img-info"><a href="javascript:void(0)" class="upload-button button">Upload Card Image</a><br><span class="maxSizeInfo">(200x200)</span></span>
                    </div>
                    <div class="upload-card-img">
                        <input class="myCardImg" type="file" value="Choose or upload"> Choose your Banner Image
                        <img class="backgroung-uploaded" src="/imgs/channel-img-test.png" alt="">
                    </div>
                </div>
                <div class="upload-img-container ">
                    <div class="card-img-info">
                        <span class="img-info"><a href="javascript:void(0)" class="upload-button button">Upload Cover Image</a><br><span class="maxSizeInfo">(1450x200)</span></span>
                    </div>
                    <div class="upload-card-img">
                        <input class="myCardImg" type="file" value="Choose or upload"> Choose your Banner Image
                        <img class="backgroung-uploaded" src="/imgs/green-banner.jpg" alt="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="group center">
                <a href="#" class="dismissModal">Cancel</a><a href="javascript:void(0)" id="save-button-action" class="button teal center item">Save</a>
            </div>
        </div>
    </div>
</template>
