<template name="faq">
    <div class="overlay">
        <div class="dialog-box">
            <div class="center">
                <img class="mini-logo" src="/imgs/login-icon.png" alt="">
            </div>
            <div class="group">FAQQQQQQ</div>
        </div>
    </div>
</template>
