<template name="signUp">
   <div class="signupContainer">
   	<div class="overlay">
        <div class="turnoffmodal dismissModal">
            <a href="javascript: void(0);" class="overlay-closer">
                <span class="icon icon-24 icons-cross"></span>
            </a>
        </div>
        <div class="dialog-box sign-box">
            <div class="dialog-left">
                <div class="dialog-container-left">
                    <div class="signuplabel"><strong>Sign Up</strong></div>
                    <div class="group">
                        <input type="email" class="input item" placeholder="Your e-mail" name="email" />
                        <input type="password" class="input item" name="password" id="password-input" placeholder="Choose a password" />
                        <input type="password" class="input item" name="passwordRetry" id="password-input2" placeholder="Same password here" />
                        <input type="text" class="input item" name="username" placeholder="Choose a username" />
                    </div>
                    <div class="group">
                        <a value="done" id="signup-done" href="javascript:void(0)" class="button grey-dark full-width center item done">Done!</a>
                    </div>
                </div>
            </div>
            <div class="dialog-right">
                <div class="dialog-container-right">
                    <span class="defaultColorText">Want to speed up the process? Join us using one of the networks below and we will show you your friends that are already here!</span>
                    <div class="group">
                        <a href="javascript:void(0)" class="button btn-social-facebook full-width center item"><strong>Sign up with Facebook</strong></a>
                        <a href="javascript:void(0)" class="button btn-social-google full-width center item"><strong>Sign up with Google</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="overlay">
		<div class="sign-content">
		
		
		<div class="signup-main-title">
			<div class="step-title">Step 1 of 2</div><br>
			<div>
			 	Fill this out
			 </div> 
		</div>	
			<div class="signup-input-email-content">
			
				<input type="email" id="signup-input-email" placeholder="Your e-mail" name="email"/>

				<div class="container-baloon-email">
					<div class="triangle"></div>
					<div class="help-box">				
						<div class="help-box-content">
							Enter your e-mail address. If you want to, you can opt-out from receiving great offers and important information once logged in.
						</div>
					</div>
				</div>
			
			</div>

			<div class="signup-input-password-content">
			
				<input type="password" id="signup-input-password" placeholder="Choose a password"/>

				<div class="container-baloon-password">
					<div class="triangle"></div>
					<div class="help-box">				
						<div class="help-box-content">
							Choose a secret password. It must be at least 6 characters and contain a digit and/or a special character.
						</div>
					</div>
				</div>
			
			</div>
			
			<div class="signup-input-password-verification-content">
			
				<input type="password" id="signup-input-password-verification" placeholder="Same password here"/>

				<div class="container-baloon-password-verification">
					<div class="triangle"></div>
					<div class="help-box-verification">				
						<div class="help-box-content">
							Type your password again 
						</div>
					</div>
				</div>
			
			</div>

			<div class="signup-input-username-content">
			
				<input type="text" id="signup-input-username" name="username" placeholder="Choose a username"/>

				<div class="container-baloon-username">
					<div class="triangle"></div>
					<div class="help-box">				
						<div class="help-box-content">
							Your public username at Gami. Minimum 2 and max 15 letters and no weird characters.
						</div>
					</div>
				</div>
				
			</div>
			<div class="continue-container">
				<div id="continue-button" value="signUp2">Continue</div>
			</div>
			
		</div>	

	</div> -->
   </div>
</template>
