/*variaveis de cor*/

$primary-background-color: white;
$secondary-background-color: rgba(239,246,246,0.96);
$menu-color: #303838;
$secondary-menu-color: #444f4f;
$input-background-color: #5c6a6a;
$base-color-1: #3ebeba;
$base-color-2: #ffc930;
$base-color-3: #ff8a50;

$text-color: #636e6e;

$transparent-background-color: rgba(239, 246, 246, 0.9);

/*fonte*/
$base-font: ProximaNovaSoftRegular,Helvetica,Arial,sans-serif;
$base-font-bold: ProximaNovaSoftBold,Helvetica,Arial,sans-serif;
$font-default-size: 14px;

/*margens*/
$margin-sidebar-option: 20px 90px;

/*login*/
$focus-color: #cad7d7;
$input-border: 2px #c9d2d2 solid;


/* Tamanhos */

$sidebar-max-width: 300px;

