@import "variables";
.game-browser {
    margin-left: 4%;
    margin-right: 4%;
}

.game-browser-toolbar {
    position: fixed;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    margin-top: 4.3em;
    top: 0;
    white-space: nowrap;
}

.game-browser-toolbar .item {
    width: 9em;
    height: 60px;
    position: relative;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    -ms-transition: width 0.2s ease;
    transition: width 0.2s ease;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.browse-option:hover .browseTabLabelTrigger{
	opacity: 1;
}


.game-browser-toolbar .item,
.game-browser-toolbar .item a {
    color: $secondary-menu-color;
}

.game-browser-toolbar li {
    display: inline-block;
    vertical-align: top;
}

.game-browser-toolbar .label {
    padding-top: 6px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    width: 9em;
    margin-left: -4.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.game-browser-toolbar .label strong {
    display: inline-block;
    margin: 0 auto;
    font-size: 1.06em;
}

.game-browser-toolbar .label strong:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: $secondary-menu-color;
}

.game-browser-toolbar .item.tab-selected .label a strong:after {
    -webkit-transition: width 150ms ease;
    -moz-transition: width 150ms ease;
    -o-transition: width 150ms ease;
    -ms-transition: width 150ms ease;
    transition: width 150ms ease;
    width: 100%;
}

.browse-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected-content {
    padding-top: 11em;
    padding-bottom: 11em;
    border-radius: 3px;
    overflow: hidden;
    outline: none;
}

.game-browser-toolbar .search-input-wrapper {
    width: 0;
    overflow: hidden;
    padding-bottom: 1px;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    -ms-transition: width 0.2s ease;
    transition: width 0.2s ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.pull-left {
    float: left;
}

.game-browser-toolbar .search-input, .game-browser-toolbar .search-input:hover, .game-browser-toolbar .search-input:active {
    width: 100%;
    line-height: 1.3em;
    padding: 0;
    border: 0;
    font-size: 1.7em;
    color: #444f4f;
    background: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #444f4f;
    outline: none;
}

.game-browser-toolbar.search-active .search-input-wrapper {
    width: 24.5em;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    top: -0.1em;
    position: absolute;
    left: 4.3em;
}

.hiddenOpacity {
    opacity: 0;
}

.game-browser-toolbar.search-active .item {
    width: 4em;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

::-webkit-input-placeholder {
   color: #a3b1b2;
}

:-moz-placeholder {
   color: #a3b1b2;
}

::-moz-placeholder {
   color: #a3b1b2;  
}

:-ms-input-placeholder {  
   color: #a3b1b2;  
}

// .options-browse-container{
// 	/*border: 1px solid red;*/
// 	border-radius: 0px;
// 	position: relative;
// 	padding-top: 50px;
// 	top: 0%;
// 	width: 100%;
// 	height: 100px;
// }
// .browse-opton-list{
// }
// .browse-option-container-tag{
// 	margin-right: 30px;
// 	position: relative;
// 	color: #6f7b7b;
// 	background-color: transparent;
// 	font-family: ProximaNovaSoftRegular;
// 	font-weight: bold;
// 	font-size: 10pt;
// 	margin-top: 30px;
// 	float: left;
// 	width: auto;
// 	height: auto;
// 	cursor: pointer;
// }
// .browse-option-container-events{
// 	@extend .browse-option-container-tag;
// }
// .browse-option-container-bets{
// 	@extend .browse-option-container-tag;
// }
// .browse-option-container-channels{
// 	@extend .browse-option-container-tag;
// }
// .browse-option-container-users{
// 	@extend .browse-option-container-tag;
// }
// .browse-option-container-search{
// 	@extend .browse-option-container-tag;
// }
// .img-coin{
// 	transform: translateX(-50%);
// 	margin-left: 50%;
// 	width: 30px;
// 	height: auto;
// }
// .img-coin-search{
// 	@extend .img-coin;
// 	width: 44px;
// }
// .tag-name{
// 	text-align: center;
// }
// .event-name{
// 	@extend .tag-name;
// }
// .channel-name{
// 	@extend .tag-name;
// }
// .users-name{
// 	@extend .tag-name;
// }
// .search-name{
// 	@extend .tag-name;
// }
// .choose-effect{
// 	margin-top: 1px;
// 	width: 100%;
// 	height: 0;
// 	background-color: #6f7b7b;
// }
// .browse-option-container-tag:hover  .choose-effect{
// 	height: 3px;
// 	-webkit-transition:height 200ms;
// }


/*@media screen and (max-width: 1650px) {

	.browse-option-container-tag{
		left: 280px;
		-webkit-transition:left 0.3s;
	}
}

@media screen and (max-width: 1280px) {

	.browse-option-container-tag{
		left: 250px;
		-webkit-transition:left 0.3s;
	}
  	
  	.options-browse-container{
		padding-top: 30px;
		-webkit-transition:padding-top 0.3s;
	}
}

@media screen and (max-width: 800px) {

	.browse-option-container-tag{
		left: 200px;
		-webkit-transition:padding-top 0.3s;
	}

	.options-browse-container{
		padding-top: 0px;
		-webkit-transition:padding-top 0.3s;
	}
	
}*/
