@import "variables";

.channel-background {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    color: black;
    position: absolute;
}

.ower-container{
    width: 100%;
    padding-bottom: 2em;
    // border: 1px solid red;
}

.edit-channel-container{
    
    // border: 1px solid black;
    display: inline-block;
}

.icon-edit {
    width: 0.6em;
    height: auto;
}

.ctitle {
    display: inline-block;
}

.edit-button{
    
    background-color: $base-color-1;
    text-align: center;
    font-size: 1.2em;
    border-radius: 100px;
    color: white;
    padding: 0.5em 1em;
}

.edit-button:active{
    background-color: #38aba7;
}

.new-event-container{
    
   @extend .edit-channel-container;
   padding-right: 2em;
}

.new-event-button{
    
  @extend .edit-button;
  background-color: $base-color-3;

}

.new-notification-container{
    
    @extend .edit-channel-container;

}

.new-notification-button{

    @extend .edit-button;
    background-color: $secondary-menu-color;

}

.edit-right-side{
    // border: 1px solid purple;
    float: right;
}
.channel-right-content {
    //border: 1px solid purple;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    overflow: auto;
}

.channel-center-content {
    //border: 1px solid red;
    background-color: white;
    position: relative;
    margin-left: 2px;
    height: 100%;
    width: -moz-calc(100% - 318px);
    width: -webkit-calc(100% - 318px);
    width: calc(100% - 318px);
    float: left;
    overflow: auto;
}

.channel-center-content-wraper {
    position: relative;
    //border: 1px solid blue;
    height: 100%;
    width: 90%;
    margin: 5%;
    margin-top: 0;
    padding-top: 4%;
}

.channel-img {
    //border: 1px solid green;
    float: left;
    padding-right: 20px;
    width: 4.5em;
}

.channel-title {
    //border: 1px solid black;
    //padding-top: 4%;
    font-family: ProximaNovaSoftRegular;
    font-size: 30pt;
    font-weight: bold;
    color: #34373b;
}

.about-stream {
    color: #909799;
    font-family: ProximaNovaSoftRegular;
    font-size: 10pt;
    font-weight: lighter;
    float: left;
}

.player-name {
    font-weight: bold;
    color: #7f8789
}

.channel-reputation {
    font-weight: bolder;
    color: #34373b;
    font-size: 11pt;
}

.rep-img {
    transform: translateY(33%);
}

.channel-options {
    float: right;
    //border: 1px solid green;
}

.channel-bar-option {
    position: relative;
    float: left;
    margin-top: 15px;
    transform: translateY(-50%);
    padding-right: 5px;
    cursor: pointer;
}

.channel-bar-repeat {
    @extend .channel-bar-option;
}

.channel-bar-favorite {
    @extend .channel-bar-option;
}

.video-stream {
    margin-top: 60px;
    //border: 1px solid green;
    //border: 1px solid green;
    width: 100%;
    height: auto;
}

.video-stream iframe {
    top: 0;
    width: 100%;
    height: 568px;
    //resize:both;
}

.channel-like-options {
    position: relative;
    margin-top: 10px;
    //border: 1px solid black;
}

.channel-follow-infoimg {
    float: left;
}

.channel-follow-info {
    font-family: ProximaNovaSoftRegular;
    font-weight: lighter;
    font-size: 10pt;
    color: #909799;
    //border: 1px solid red;
    margin-top: 3px;
    margin-left: 5px;
    float: left;
}

.channel-view-infoimg {
    float: left;
    padding-left: 20px;
}

.channel-view-info {
    @extend .channel-follow-info;
}

.channel-like-button {
    position: relative;
    float: right;
    right: 0;
    cursor: pointer;
}

.channel-like-info {
    position: relative;
    float: right;
    right: 0;
    @extend .channel-follow-info;
}

.channel-dislike-button {
    position: relative;
    float: right;
    right: 0;
    padding-left: 20px;
    cursor: pointer;
}

.channel-dislike-info {
    position: relative;
    float: right;
    right: 0;
    @extend .channel-follow-info;
}

.channel-main-options {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 80px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //border: 1px solid red;
}

.channel-main-options-container {
    position: relative;
    //border: 1px solid green;
    width: auto;
    height: auto;
    float: left;
    left: 50%;
    transform: translateX(-50%);
}

.channel-opton-list {
    margin: 0;
}

.channel-opton-list {
    list-style: none;
}

.channel-option-container-live-event {
    margin-right: 30px;
    color: #6f7b7b;
    background-color: transparent;
    font-family: ProximaNovaSoftRegular;
    font-weight: bold;
    font-size: 11pt;
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
}

.channel-option-container-events {
    @extend .channel-option-container-live-event;
}

.channel-option-container-info {
    @extend .channel-option-container-live-event;
}

.channel-option-container-history {
    @extend .channel-option-container-live-event;
}

.img-coin {
    transform: translateX(-50%);
    margin-left: 50%;
    width: 30px;
    height: auto;
}

.img-coin-search {
    @extend .img-coin;
    width: 44px;
}

.live-event-name {
    text-align: center;
}

.event-name {
    @extend .live-event-name;
}

.channel-name {
    @extend .live-event-name;
}

.choose-effect {
    margin-top: 1px;
    width: 100%;
    height: 0;
    background-color: #6f7b7b;
}

.channel-option-container-live-event:hover .choose-effect {
    height: 3px;
    -webkit-transition: height 200ms;
}

.channel-right-content {
    background-color: white;
}

.announcement-conteiner {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: #2ebfd5;
    z-index: 9;
}

.announcement-title {
    font-family: ProximaNovaSoftRegular;
    font-size: 13pt;
    font-weight: bolder;
    color: #89e8f7;
    padding-left: 25px;
    padding-top: 25px;
}

.announcement {
    text-align: left;
    color: white;
    font-family: ProximaNovaSoftRegular;
    font-size: 12pt;
    padding: 25px;
    padding-top: 5px;
}

.bet-time-container {
    margin-top: 150px;
    width: 100%;
    height: auto;
    //border: 1px solid red;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bet-time {
    position: relative;
    margin-top: 40px;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100px;
}


/* entire container, keeps perspective */

.flip-container {
    position: absolute;
    perspective: 1000;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 160px;
    height: 160px;
    top: 50%;
    left: 10%;
    position: absolute;
    transform: translateX(-50%);
    transform: translateY(-50%);
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    border-radius: 100px;
    background-color: #303838;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    border-radius: 100px;
    background-color: #303838;
    transform: rotateY(180deg);
}

.bet-container {
    top: 23%;
    text-align: center;
    position: relative;
    font-size: 50pt;
    font-family: ProximaNovaSoftRegular;
    font-weight: bold;
    color: white;
}

#cifrao {
    font-size: 30pt;
    color: #e5e1e1;
}

.bet-finish-timmer {
    @extend .bet-container;
    top: 38%;
    font-size: 22pt;
}

.bet-selected-container {
    margin-top: 30px;
    width: 100%;
    height: auto;
    position: relative;
}

.bet-selected-detail {
    position: absolute;
    float: left;
    width: 6px;
    height: 100%;
    background-color: #ff8a50;
    margin-left: 15px;
}

.bet-selected {
    position: relative;
    font-size: 15pt;
    font-weight: bolder;
    color: #4c5353;
    font-family: ProximaNovaSoftRegular;
    padding-left: 33px;
}

.bet-option-container {
    width: 100%;
    height: auto;
    //border: 1px solid green;
    margin-top: 30px;
    cursor: pointer;
}

.bet-option {
    background-color: #cad7d7;
    color: #748080;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 25px;
}

.bet-option-text {
    font-family: ProximaNovaSoftRegular;
    font-weight: bold;
    text-align: center;
    float: left;
}

.bet-percent {
    @extend .bet-option-text;
    float: right;
    color: white;
    background-color: #abb7b7;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    font-size: 9pt;
}

/* Modais */

.dialog-box.modifyinfo-box {
    width: 25em;
}

.title-wrap {
    position: relative;
    text-align: center;
}

h1.title {
    color: #5F7277;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    vertical-align: baseline;
}

.title-wrap h1:after {
    // border-top: 1px solid #ccc;
    // content: "";
    // display: block;
    // margin-top: .6em;
}

#save-button-action {
    width: 2.5em;
    line-height: 1.4em;
    display: initial;
    cursor: pointer;
    color: #ffffff;
    font-family: ProximaNovaSoftBold, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.08em;
    vertical-align: middle;
    padding: 0.74571em 2.14286em;
    border-width: 2px;
    position: relative;
    border-radius: 2em;
    margin-left: 1em;
}

.channel-toolbar {
    position: relative;
    margin-top: 0;
}

// .title-wrap h1:before {
//     right: 80%;
// }

// .title-wrap h1:after {
//     left: 80%;
// }

@media screen and (max-width: 1650px) {
    .channel-center-content {
        
        width: calc(100% - 263px);
    }
    .announcement-conteiner {
        width: 250px;
    }
    .channel-right-content {
        width: 250px;
    }
    .bet-option-text {
        font-size: 10pt;
    }
}

@media screen and (max-width: 1440px) {
    .video-stream iframe {
        height: 499px;
    }
}

@media screen and (max-width: 1366px) {
    .video-stream iframe {
        height: 463px;
    }
}

@media screen and (max-width: 1280px) {
    .video-stream iframe {
        height: 440px;
    }
    .channel-center-content {
        
        width: calc(100% - 260px);
    }
}

@media screen and (max-width: 800px) {
    .channel-img {
        width: 44px;
        height: auto;
    }
    .about-stream {
        font-size: 8pt;
    }
    .channel-center-content {
        
        width: calc(100% - 140px);
    }
    .video-stream iframe {
        height: 280px;
    }
    .channel-right-content {
        width: 130px;
    }
    .announcement-conteiner {
        width: 130px;
    }
    .announcement {
        font-size: 8pt;
        padding: 10px;
    }
    .announcement-title {
        padding-left: 10px;
        padding-top: 10px;
        font-size: 10pt;
    }
    .bet-time {
        width: 120px;
        height: 120px;
        margin-top: 0px;
    }
    #cifrao {
        font-size: 20pt;
    }
    .flip-container,
    .front,
    .back {
        width: 100px;
        height: 100px;
    }
    .bet-container {
        font-size: 35pt;
    }
    .bet-finish-timmer {
        font-size: 15pt;
    }
    .bet-selected {
        font-size: 8pt;
        padding-left: 20px;
    }
    .bet-selected-detail {
        margin-left: 10px;
        width: 3px;
    }
    .bet-option-text,
    .bet-percent {
        text-align: left;
        font-size: 8pt;
    }
    .bet-option {
        margin-left: 5px;
        margin-right: 5px;
        padding: 8px;
        padding-bottom: 35px;
    }
    .bet-percent {
        margin-top: 2px;
        margin-right: 30%;
    }
    .flip-container,
    .front,
    .back {}
}
