@import "variables";

.space{
    margin-top: 2em;
    margin-bottom: 2em;
}

.half-width{
    width: 49% !important;
    height: 4em;
    display: inline-block;
    margin: 0 !important;
}
.edit-width {
    @extend .login-box;
    width: 350px;
}

.line {
    border-bottom: 1px solid #cad7d7;
    width: 100%;
    margin-top: 1em;
}

.line-upload {
    border-bottom: 1px solid #cad7d7;
    padding-bottom: 5em;
}

.edit-title {
    font-size: 1.5em;
    color: #636e6e;
}

.edit-title-container {
    // border: 1px solid red;
    display: inline-block;
}


.input-edit-playing {
    width: 20%;
}

.edit-title-section {
    color: #636e6e;
}

.item-edit {
    margin-top: 0.7em;
    float: right;
}

.input-edit-playing {
    @extend .input-edit;
    width: 50%;
}

.input-subtitle-container {
    
}

.input-subtitle-container:nth-child(1) {
    margin-left: 1em;
}

.myFileInput {
    display: inline-block;
}

.img-cover{
    width: 100%;
}

.upload-cover {
    position: relative;
    display: inline-block;
    height: auto;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: 1em;
    border-radius: 2px;
    background-color: #ff8a50;
    text-align: center;
    width: 100%;
}

