table {
    width:100%;
    color: #454d4d;
    font-family: ProximaNovaSoftRegular;
    position: relative;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color: #454d4d;
    position: relative;
}
th, td {
    
    text-align: left;
}


th{
	padding: 7px;
	font-size: 13pt;
	 font-weight: bolder;
}

table#betTable tr:nth-child(even) {
    background-color: #eff6f6;
}
table#betTable tr:nth-child(odd) {
   background-color:#fff;
}
table#betTable th	{
    background-color: #cad7d7;

}

td{
	font-size: 12pt;
}

#live-event-bet{
	padding: 15px;
	cursor: pointer;
}

#answer-bet{
	@extend #live-event-bet;
}

#you-bet{
	@extend #live-event-bet;
}

#total-pot-bet{
	@extend #live-event-bet;

}

.pot-ammount{
	//border: 1px solid red;
	transform: translateY(50%);
	float: left;

}

.bet-icon{
	//border: 1px solid red;
	padding-right: 15px;
	transform: translateY(-12.5%);
	float: left;

}

.teste{
	float: left;
	padding-top: 11px;
	//border: 1px solid blue;
}

.play-bet{
	color: white;
	padding: 10px 25px;
	border-radius: 100px;
	background-color: #61b3da;
	float: right;
}

.play-bet:active{
	background-color: #cad7d7;
}

@media screen and (max-width: 1650px) {

	
}

@media screen and (max-width: 1440px) {

	.bet-icon{
		width: 30px;
		height: auto;
	}
}

@media screen and (max-width: 1366px) {
	.bet-icon{
		width: 25px;
		height: auto;
	}

	td {
		font-size: 10pt;
	}
}

@media screen and (max-width: 1280px) {
		
}

@media screen and (max-width: 800px) {
	
	.bet-icon{
		display: none;
	}

	td {
		font-size: 10pt;
	}

	#live-event-bet{
		padding: 10px;
	}

	.teste{
		padding-top: 0px; 
	}

	.play-bet{
		display: none;
	}

	.coin-icon{
		display: none;
	}
	#total-pot-bet{

	}
}