.events-container{
	color: black;
	position: absolute;
	margin-left: 3%;
	padding-right: 10%;
	min-width: 30%;
	height: auto;
}

.event-container{
	cursor: pointer;
	position: relative;
	width: 144px;
	float:left;
	margin-top: 20px;
	margin-right: 80px;
}

.img-event{
	position: absolute;
	width: 200px;
	height: 240px;
	object-fit: fill;
	background-color: black;
}

.event-name-dynamic{
	font-size: 11pt;
	transform: translateX(-50%);
	top: 40px;
	left: 70%;
	line-height: 20px;
	vertical-align: middle;
	position: relative;
	color: white;
	font-family: ProximaNovaSoftRegular;
	font-weight: bold;
	text-align: center;
	
}

.pot{
	@extend .event-name-dynamic;
	top: 50px;
}

.img-event-player{
	transform: translateX(-50%);
	left: 70%;
	top: 130px;
	position: absolute;
	border-radius: 120px;
	width: 60px;
	height: 60px;
	object-fit: fill;
}

.event-over-effect{
	opacity: 0;
	background-color: rgba(61,177,173,0.8);
	top: 0;
	position: absolute;
	width: 200px;
	height: 240px;
	
}

.event-over-effect:hover{
	opacity: 1;
	-webkit-transition:opacity 200ms;
	-moz-transition:opacity 200ms;
}

.channel-name-dynamic{
	@extend .event-name-dynamic;
	left: 50%;
}

.play-event{
	@extend .event-name-dynamic;
	top: 50px;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 100px;
	left: 50%;
}

.event-play-img{
	margin-top: 30px;
}

.pot-1{
	@extend .pot;
	top: 70px;
	left: 35%;
	float: left;
}

.pot-2{
	@extend .pot-1;
	left: 50%;
}

.filter{
	transform: translateX(-0%);
    background-color: #cad7d7;
    position: fixed;
    width: 280px;
    height: 80%;
    right: 0;
    bottom: 0;
    overflow: scroll;

}

::-webkit-scrollbar { 
    display: none; 
}

.filter-title{
	position: relative;
	font-family: ProximaNovaSoftRegular;
	font-weight: bolder;
	font-size: 13pt;
	padding: 20px 20px;
	color: #444f4f;
}

.filter-aplied{
	position: relative;
	font-family: ProximaNovaSoftRegular;
	font-weight: bolder;
	font-size: 11pt;
	background-color: #3ebeba;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
}

.choosed-list{
	
	position: relative;
	list-style: none;
}

.choosed-option{

	/*border: 1px solid red;*/
	background-color: transparent;
	font-family: ProximaNovaSoftRegular;
	font-weight: bolder;
	font-size: 11pt;
	color: #444f4f;
	height: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;

}

.number{
	position: absolute;
	margin-top: 5px;
	right: 5px;
}

.Hashtags{
	@extend .filter-aplied;
	background-color: #444f4f
}

.events-search{
		
	position: absolute;
	width: 250px;
	/*border: 1px solid red;*/

}

#events-search-text-input{
    
    float:left;
    height:30px;
    margin:15px 0 0 9px; 
    outline:0;
    padding:.4em 0 .4em .5em; 
    width:183px; 
    border-radius: 100px 0 0px 100px;
    border:none;
    background: #5c6a6a;
    color:#303838;
    font-size: 11pt;
}
  
#events-button-holder{
    border-radius: 0px 100px 100px 0px;
    background-color:#5c6a6a;
    cursor:pointer;
    float:left;
    height:41px;
    margin:15px 0 0 0;
    text-align:center;
    width:50px;
}
  
#events-button-holder img{
    margin:9px;
    width:25px;
    height: auto; 
}

.separator{
	/*border: 1px solid red;*/
	position: relative;
	height: 60px;
	width: 100%;
}

.choose-list{
	@extend .chopsed-list;
	list-style: none;
}

.choose-option{
	@extend .choosed-option;
	
}

/*@media screen and (max-width: 1650px) {

	
}

@media screen and (max-width: 1280px) {

	.filter{
		width: 230px;
	}

	.choosed-list{
		padding: 20px;
	}
	.choose-list{
		padding: 20px;
	}

	#events-search-text-input{
		width: 153px;
	}
		
}

@media screen and (max-width: 1650px) {

	.events-container{
		margin-left: 320px;
		-webkit-transition:margin-left 200ms;
	}
}

@media screen and (max-width: 1280px) {

	.filter{
		width: 230px;
	}
	.events-container{
		margin-left: 290px;
		-webkit-transition:margin-left 200ms;
	}	
}

@media screen and (max-width: 800px) {
	.events-container{

		margin-left: 240px;
		-webkit-transition:margin-left 200ms;
	}

}*/

