@import "variables";


.mini-logo{
	width: 25%;
}

.dialog-box {

    border-radius: 3px;
    padding: 3.2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    //height: 400px;
    background-color: $primary-background-color;
    box-sizing: content-box;
}

.dialog-box.login-box {
    width: 250px;
}

.dialog-box .group {
    margin-top: 2.1em;
}

.input {
    padding: 0.9em 1.3em;
    width: 100%;
    border: 2px solid #cad7d7;
    border-radius: 3px;
    background-color: #ffffff;
    color: #444f4f;
    vertical-align: middle;
    line-height: 1.3 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-size: 0.95em;
}

.button {
    cursor: pointer;
    color: #ffffff;
    font-family: $base-font-bold;
    font-style: normal;
    font-weight: 400;
    font-size: 1.08em;
    display: inline-block;
    vertical-align: middle;
    padding: 0.74571em 2.14286em;
    line-height: 1.3;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    position: relative;
    border-radius: 2em;
}

.input:focus {
    background-color: $focus-color;
}

.button.full-width {
    margin: 0;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:link, :visited {
    text-decoration: none;
}

.center {
    text-align: center;
}

.button.teal {
    background-color: #3ebeba;
    border-color: #3ebeba;
}

.button.teal:active {
    background-color: #38aba7;
    border-color: #38aba7;
}

.button.grey-dark {
    background-color: $text-color;
    border-color: $text-color;
}

.button.grey-dark:active {
    background-color: #636e6e;
    border-color: #636e6e;
}


.login-password-input {
    // position: absolute;
    // top: 23%;
    // transform: translateX(-50%);
    // left: 50%;
}

#login-input {
    // outline: none;
    // border-radius: 3px;
    // border: $input-border;
    // padding-right: 15px;
    // width: 220px;
    // padding-left: 15px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    // color: #727f7f;
}

// #login-input:focus {
//     background-color: $focus-color;
// }

#password-input {
    // margin-top: 10px;
    // outline: none;
    // border-radius: 3px;
    // border: $input-border;
    // padding-right: 15px;
    // width: 220px;
    // padding-left: 15px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    // color: #727f7f;
}

// #password-input:focus {
//     background-color: $focus-color;
// }

.dialog-box .item {
    margin-top: 0.7em;
}

.dialog-box .item:first-child {
    margin-top: 0;
}

.login-password-button {
    position: absolute;
    top: 53%;
    transform: translateX(-50%);
    left: 50%;
}

#login-button {
    position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    width: 250px;
    height: 40px;
    background-color: $base-color-1;
    line-height: 40px;
    /*centraliza perfeitamente*/
}

#login-button:active {
    background-color: #38aba7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#open-account-button {
    margin-top: 7px;
    position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    width: 250px;
    height: 40px;
    background-color: #6f7b7b;
    line-height: 40px;
}

#open-account-button:active {
    background-color: #636e6e;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.password-forgotten {
    font-weight: bold;
    font-size: 9pt;
    position: absolute;
    color: #68b6da;
    top: 85%;
    width: 100%;
    text-align: center;
    cursor: pointer;
}


/* Zona de responsividade*/

// @media screen and (max-width: 1280px) {
    
//     .dialog-box {
//         width: 200px;
//         font-size: 0.8em;

//         -webkit-transition: width, font-size 0.3s;
//         -ms-transition: width, font-size 200ms;
//         -moz-transition: width, font-size 200ms;

//     }

// }