@import "variables";

.min-width-video-container{
	min-width: 90em;
}

.aligin-video{
	display: table;
    margin: 0 auto;
    width: 70em;
    height: 28em;
}
.promoted-video-home{
	width: 100%;
	//background: radial-gradient(transparent,black);
	background-color: black;
}

.video-home{
	width: 70%;
    height: 100%;
    margin-bottom: 2%;
    float: left;
    margin-right: 0.5%;
}

.information-container{
    position: relative;
    width: 27%;
    height: 100%;
    background-color: rgba(62, 190, 186, 0.7);
    margin: -4px;
    margin-top: 0.0%;
    display: inline-block;
}

.homeContainer {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.homeConainerCenter {
    position: relative;
    width: 60%;
    margin-left: 20%;
    min-width: 50em;
}

.titleSection {
	margin-top: 2em;
    font-size: 3em;
    color: black;
}

.subtitleSection {
    color: #999;
    font-size: 0.5em;
}

.homeChannelsConteiner {
	margin-top: 4em;
}

.one-channel {
    position: relative;
    width: 17.17em;
    height: 20em;
    margin: -4px;
    display: inline-block;
}

.gradient-efect {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: linear-gradient(transparent,black);
}

.channel-title-home {
    position: relative;
    color: White;
    font-size: 1.5em;
}

.img-channel-home {
	position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.channel-user-title-home{
	position: relative;
    color: White;
}

.user-simple-icon{
	width: 1em;
	margin-right: 0.5em;
}

.container-names{
	margin: 5em 1em;
}

.home-margin{
	
	
}