@import "variables";

.container-padding{
	padding: 1em;
	position: relative;
    top: 0.3em;
    margin: 0;
    background-color: #015f7b !important;
    display: block;
}
.border-bottom{
	border-radius: 0 0 6px 6px ;
}

.float-blocks{
	float: left;
}
.rotate {
    transform: rotate(-90deg);
}

.exp-color {
    color: #9bece9;
    margin: 0;
}

.badge {
    width: 100%;
    height: 100%;
}

.tootip-botton {
	left: -0.3em !important;
    bottom: -9em !important;
    background: #015f7b !important;
    width: 15em !important;
    height: 100% !important;
    text-align: left !important;
    line-height: normal !important;
    z-index: 999999 !important;
}
.service-link-container{
	margin-bottom: 1em;
}

.tootip-botton:after {
    transform: rotate(-180deg) !important;
    top: -0.5em !important;
    border-top: 8px solid #015f7b !important;
}

.missions-container {
    position: absolute;
    background-color: white;
    margin-right: 30em;
    padding: 5em;
}

.inner-missions-container {
    min-width: 41em;
    
}

.hexagon {
    position: relative;
    width: 70px;
    height: 42.41px;
    background-color: #cad7d7;
    margin: 20.21px 0;
    transform: rotate(90deg);
    display: inline-block;
    margin: 2em;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 20.21px solid #cad7d7;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 20.21px solid #cad7d7;
}

.img-badge-gotten:after {
   
    content: url(/imgs/badge-img.png);
    
}

.img-badge-gotten {
    position: absolute;
    width: 5em;
    object-fit: fill;
    bottom: 1.6em;
    content: url(/imgs/badge-img.png);
    transform: translateY(50%) rotate(-90deg);
}

.img-badge-not-gotten:after {
    content: url(/imgs/badge2-img-gray.png);
    
}

.img-badge-not-gotten:before {
    content: url(/imgs/badge2-img-gray.png);
    
}

.img-badge-not-gotten {
    position: absolute;
    width: 5em;
    bottom: 1.6em;
    content: url(/imgs/badge2-img-gray.png);
    transform: translateY(50%) rotate(-90deg);
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}
