@import "variables";

.short-bios-text{
    position: relative;
    width: 100%;
    resize: vertical;
    padding-top: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 3px;
    border: 1px solid;
    margin-top: 1em;
    outline: none;
    margin-bottom: 1em;
    text-align: justify;
	border-color: $text-color;
	box-sizing: border-box;
	font-size: 0.95em;
}

.short-bios-text:focus{
	border-color: $base-color-1;
}

.long-bios-text{
	@extend .short-bios-text;
	height: 15em;
}

.long-bios-text:focus{
	@extend .short-bios-text:focus;
}