@import "variables";
.modifybackground-box {
    width: 40em;
}

.upload-img-container {
    display: inline-block;
    margin: 0.3em;
    border: 1px solid gray;
    border-radius: 6px;
    border-style: dashed;
    position: relative;
}

.upload-card-img {
    display: inline-block;
    padding: 7em 3.5em;
    text-align: center;
}

.myCardImg {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    cursor: pointer;
}

.choose-name {
    position: absolute;
    color: #000;
}

.backgroung-uploaded {
    position: absolute;
    transform: translate(-50%, -90%);
    height: 50%;
    left: 50%;
}

.card-img-info {
    // background-color: rgba(255, 255, 255, 0.6);
    //height: 100%;
    position: absolute;
    width: 100%;
    top: 65%;
}

.img-info {
    width: 100%;
    //height: 100%;
    position: absolute;
    text-align: center;
    top: 30%;
}

#save-button-imgs {
    left: 80%;
}

.maxSizeInfo {
    line-height: 2em;
    color: #636e6e;
}
