@import "variables";

.services-container{
	width: 100%;
	//border: 1px solid red;
}

#links-icon-list{
	margin:0;
	padding: 0;

}

.link-icon{
	width: 3em;
	display: inline-block;
	opacity: .3;
}

.active{
	opacity: 1;
}