.option-poup{
	z-index: 999999999;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(239,246,246,0.95);
	

}

.close{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	background-color: #303838;
  cursor: pointer;
	align-items: center;
  display: flex;
  justify-content: center;
}

.x{
	font-family: ProximaNovaSoftRegular;
	font-weight: bolder;
	font-size: 18pt;
}

.popup-options-container{
	border-radius: 10px;
	margin-top: 8%;
	position: relative;
	background-color: white;
	width: 500px;
	height: auto;
  max-height: 800px;
  //border: 1px solid blue;
  left: 50%;
  transform: translateX(-50%);
  
  
}

.popup-options-container{

}

.popup-title{
	border-bottom: 1px solid #7f8a8a;
	color: #7f8a8a;
	text-align: center;
	font-family: ProximaNovaSoftRegular;
	font-size: 15pt;
	font-weight: bold;
	padding: 20px;
}

#popup-cifrao{
	color: #7f8a8a;
	font-family: ProximaNovaSoftRegular;
	font-size: 20pt;
	font-weight: bolder;
}

.popup-input-container{
	margin-top: 40px;
	width: 100%;
	height: auto;
	align-items: center;
  	display: flex;
  	justify-content: center;
  	//border: 1px solid red;
}

#popup-input{
	width: 60px;
	height: 40px;
	outline: none;
	border: none;
	font-family: ProximaNovaSoftRegular;
	font-size: 20pt;
	color: #7f8a8a; 
}

.popup-range-container{
	width: 100%;
	height: auto;
	margin-top: 20px;
	align-items: center;
  	display: flex;
  	justify-content: center;

}

.popup-range-wrapper{
	border-radius: 100px;
	background-color: #cad7d7;
	padding-right: 15px;
	padding-left: 15px;
  	
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 400px;
  border-radius: 100px;

}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #aab8b8;
  border-radius: 100px;
  background: -webkit-linear-gradient(left, #19ac51 0%, #19ac51 50%, #aab8b8 50%);
}

input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 100px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #aab8b8;
  border-radius: 100px;
  
}
input[type=range]::-moz-range-thumb {
  
  
  height: 25px;
  width: 25px;
  border-radius: 100px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;

}
input[type=range]::-ms-fill-lower {
  background: #19ac51;
  border-radius: 100px;
 }
input[type=range]::-ms-fill-upper {
  background: #aab8b8;
  
  border-radius: 100px;
  
}
input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: #ffffff;
  cursor: pointer;
  margin-top: 1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #19ac51;
}
input[type=range]:focus::-ms-fill-upper {
  background: #aab8b8;
}

.popup-options{
  width: 100%;
  height: auto;
  max-height: 100%;
  //border: 1px solid red;
  align-items: top;
  display: flex;
  justify-content: center;
  
}
.bet-option-container-popup{
  width: 70%;
  height: auto;
  max-height: 100%;
  //border: 1px solid green;
 
  cursor: pointer;
  display: block;
}

.bet-option-popup{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #cad7d7;
  color: #748080;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 25px;
}

.bet-option-popup:focus{
  background-color: #2ebfd5;
  color: white;
}

.popup-scroll{
   margin-top: 30px;
  position: relative;
  //border: 1px solid black;
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  height: auto;
  overflow: auto;
}