@import "variables";
body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font: 100% $base-font;
    font-family: $base-font;
    // background-image: url("imgs/signup-image4.png");
    background-color: $primary-background-color;
    color: white;
    overflow: hidden;
    font-size: $font-default-size;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}



[tabindex] {
    outline: none !important;
}

@font-face {
    font-family: ProximaNovaSoftRegular;
    src: url(fonts/ProximaNovaSoftRegular.woff);
}

@font-face {
    font-family: ProximaNovaSoftBold;
    src: url(fonts/ProximaNovaSoftBold.woff);
}

@font-face {
    font-family: BattlecoinIcons;
    src: url(fonts/casumo-icons.woff);
}

::selection {
    color: #004854;
    background: #3ebeba;
}

.clickable {
    cursor: pointer;
}

a {
    color: $base-color-1;
}

ul, ol {
    list-style: none;
}

// ::-webkit-input-placeholder {
//    color: $secondary-menu-color;
// }

// :-moz-placeholder { /* Firefox 18- */
//    color: $secondary-menu-color;  
// }

// ::-moz-placeholder {  /* Firefox 19+ */
//    color: $secondary-menu-color;  
// }

// :-ms-input-placeholder {  
//    color: $secondary-menu-color;  
// }

b, strong, .bold {
    font-family: ProximaNovaSoftBold,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
}

.dismissModal{
	
}

.not-clickable {
    pointer-events: none;
}

/* ICONS */

.icons-menu:before {
    content: "";
}

.icons-shapes:before {
    content: "";
}

.icons-heart:before {
    content: "";
}

.icons-stuff:before {
    content: "";
}

.icons-servant:before {
    content: "";
}

.icons-missions:before {
    content: "";
}

.icons-settings:before {
    content: "";
}

.icons-my-channel:before {
    content: "";
}

.icons-list:before {
    content: "";
}

.icons-money-stack:before {
    content: "";
}

.icons-users:before {
    content: "";
}

.icons-rocket:before {
    content: "";
}

.icons-search:before {
    content: "";
}

.icons-warning:before {
    content: "";
}

.icons-cross:before {
    content: "";
}

.icons-level:before {
    content: "";
}

.icons-badges:before {
    content: "";
}

.icons-view:before {
    content: "";
}

.icons-info:before {
    content: "";
}

.icons-concluded:before {
    content: "";
}

.icon-24 {
    font-size: 24px;
}

.icon-32 {
    font-size: 32px;
}

[class^="icons-"],
[class*=" icons-"],
.zearch-container:after {
    font-family: 'BattlecoinIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.postfix-1 {
    margin-right: 4.25084%;
}
.prefix-1 {
    margin-left: 4.25084%;
}

/* MODAL */

.turnoffmodal {
	position: absolute;
	width: 100%;
	height: 100%;

}

.overlay {
    width: 100%;
    height: 100%;
    background-color: $secondary-background-color;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    z-index: 9999;
}


.overlay-closer {
    position: fixed;
    top: 10px;
    right: 26px;
    border-radius: 3px;
    background: $menu-color;
    z-index: 4;
    width: 4em;
    height: 4em;
}

.overlay-closer .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlayModal {
    background-color: rgba(120, 130, 130, 0.8);
}

/*==========================================================================*/


/* =================================SideBar=================================*/

.sidebar {
    z-index: 9999;
    float: left;
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: $secondary-background-color;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: width 0.3s;
    -ms-transition: width 200ms;
    -moz-transition: width 200ms;
}


/* Configurações do menu escondido a esquerda */

.bigoption {
    top: 0;
    position: absolute;
    width: 0%;
    height: 100vh;
    background-color: $secondary-menu-color;
    z-index: 9;
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    -ms-transition: width 200ms;
}

// .bigoption:focus {
//     width: 0%;
// }

/* Elementos dentro da parte escura da sidebar */

.sidebar_content {
    width: 100%;
    background-color: $menu-color;
    position: relative;
}

.big-option-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
    transform: translateX(-50%);
    opacity: 0.6;
    width: 10%;
}

.options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar_content .options li {
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 89px;
    outline: none;
    position: relative;
    background-color: $menu-color;
    z-index: 2;
    cursor: pointer;
    border-top: 1px solid $menu-color;
    -webkit-transition: height 0.3s;
    -ms-transition: height 200ms;
    -moz-transition: height 200ms;
}


/*logo opcao*/

.over_logo {
    position: absolute;
    z-index: 5;
    width: 2%;
    height: 100%;
    background-color: $secondary-menu-color;
}

.logoItem.ahover:hover ~ .bigoption {
    width: 4%;
    height: 100vh;
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    -ms-transition: width 200ms;
}

// .logoItem :focus ~ .bigoption {
//     width: 100%;
//     -webkit-transition: width 200ms;
//     -moz-transition: width 200ms;
//     -ms-transition: width 200ms;
// }

/*opcao login*/

.option-content {
    font-size: 1.06em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-family: ProximaNovaSoftBold;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    pointer-events: none;
    color: $menu-color;
}

.option-overlay {
    width: 2%;
    height: 100%;
    position: absolute;
    -webkit-transition: width 0.15s;
    -ms-transition: width 150ms;
    -moz-transition: width 150ms;
    pointer-events: none;
}

.logo {
    max-width: 65px;
    max-height: 84px;
    width: auto;
    height: auto;
}

.menu_option a {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sidebar_content .menu_option .ahover:hover .option-overlay {
    width: 4%;
    // -webkit-transition: width 200ms;
    // -moz-transition: width 200ms;
    // -ms-transition: width 200ms;
}

.footer .ahover:hover .option-overlay {
    width: 4%;
}

.option-overlay-full {
    width: 100%;
}

.sidebar_content .menu_option:hover .icon {
    color: white;
}

.option-logo {
    background-color: $secondary-menu-color;
}

.option-a {
    background-color: $base-color-1;
}

.option-b {
    background-color: $base-color-2;
}

.option-c {
    background-color: $base-color-3;
}

.option-d {
    background: #aab8b8;
}

.color_login {
    color: $base-color-1;
}

.color_signUp {
    color: $base-color-2;
}

.color_browse {
    color: $base-color-3;
}

.color_help {
    color: $secondary-menu-color;
}

.logoItem .icon {
    position: absolute;
    top: 50%;
    left: 6%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: $secondary-menu-color;
}




/*opcao signUp*/

.signUp {
    @extend .nomeLogin;
    color: $base-color-2;
}

.oversignUp {
    width: 2%;
    height: 100%;
    background-color: $base-color-2;
}

.over-over-signUp {
    position: absolute;
    width: 2%;
    height: 100%;
    background-color: $base-color-2;
}

.opt3:hover .over-over-signUp {
    width: 4%;
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    -ms-transition: width 200ms;
}


/*opcao browse*/

.browse {
    @extend .nomeLogin;
    color: $base-color-3;
}

.overbrowse {
    width: 2%;
    height: 100%;
    background-color: $base-color-3;
}

.over-over-browse {
    position: absolute;
    width: 2%;
    height: 100%;
    background-color: $base-color-3;
}

.opt4:hover .over-over-browse {
    width: 4%;
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    -ms-transition: width 200ms;
}


/*Footer*/

.footer {
    // font-size: 13pt;
    // font-weight: bold;
    // cursor: default;
    height: 50px;
    width: 100%;
    position: absolute;
    background-color: $secondary-background-color;
    bottom: 0px;
    z-index: 7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.alignLeft {

    text-align: left;
    margin-left: 1.7em;
}

// .footer:active {
//     background-color: $secondary-menu-color;
//     color: white;
// }


/*=========================================================================*/


/*                                                                         */


/*                                                                         */


/* =======================  Main Container  ===============================*/

.main-container {
    position: absolute;
    width: calc(100vw - #{$sidebar-max-width});
    height: 100vh;
    left: $sidebar-max-width;
    background-color: $secondary-background-color;
}


/*=========================================================================*/


/*                                                                         */


/*                                                                         */


/* =======================  Responsividade  ===============================*/

@media screen and (max-width: 1650px) {
    .sidebar {
        width: $sidebar-max-width/1.2;
    }
    .main-container {
        width: calc(100vw - #{$sidebar-max-width/1.2});
        left: $sidebar-max-width/1.2;
    }
}

@media screen and (max-width: 1280px) {
    .sidebar {
        width: $sidebar-max-width/1.46;
    }
    .main-container {
        width: calc(100vw - #{$sidebar-max-width/1.46});
        left: $sidebar-max-width/1.46;
    }
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: $sidebar-max-width/1.7;
    }
    .main-container {
        width: calc(100vw - #{$sidebar-max-width/1.7});
        left: $sidebar-max-width/1.7;
    }
}


/* ALTURA */

@media screen and (max-height: 784px) {
    .sidebar_content .options li {
        height: 69px;
    }
}
