@import "variables";
.signupContainer{
	position: absolute;
	width: 100%;
    height: 100%;
}
.dialog-box.sign-box {
    width: 660px;
}

.dialog-left {
	float: left;
	width: 50%;
}

.dialog-right {
	float: right;
	width: 50%;
}

.dialog-container-left {
	padding-right: 3.2em;
	border-right: 2px solid #e9e9e9;
}

.dialog-container-right {
	padding-left: 3.2em;
}

.signuplabel {
	font-size: 1.5em;
	color: $text-color;
}

.btn-social {
	font-size: 1.25em;
}

.btn-social-facebook {
    background-color: #3b5998;
    @extend .btn-social;
}

.btn-social-google {
    background-color: #dd4b39;
    @extend .btn-social;
}

.defaultColorText {

	color: $secondary-menu-color;
	opacity: 0.7;
    font-size: 1.1em;

}

.group .done {
	font-size: 1.25em;
}


.sign-content{
	top: 10%;
	border-radius: 4px;
	background-color: $primary-background-color;
	margin-top: 5%;
	transform: translateX(-50%);
	left: 50%;
	position: relative;
	width: 400px;
	height: auto;
	
}


.step-title{
	float: right;
    font-size: 0.7em;
    top: 50%;
    transform: translateY(-50%);
}

.signup-main-title{
	border-radius: 4px;
    background-color: #3ebeba;
    position: relative;
    cursor: default;
    font-size: 1.5em;
    padding: 1.3em;
    color: white;
}

.signup-input-email-content{

	
	//border: 1px solid green;
	position: relative;
	width: auto;
	height: 60px;
}

.signup-input-password-content{

	@extend .signup-input-email-content;
	
}

.signup-input-password-verification-content{
	@extend .signup-input-email-content;
	
}

.signup-input-username-content{
	@extend .signup-input-email-content;
	
}

#signup-input-email{
	transform: translateX(-50%);
	margin-left: 50%;
	background-color: transparent;
	float: left;
	margin-top: 10px;
	outline: none;
	border-radius: 5px;
	border: $input-border;
	padding-right: 15px;
	width: 250px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-family: ProximaNovaSoftRegular;
	color: #727f7f;
	font-size: 10pt;
}

#signup-input-password{
	@extend #signup-input-email
}
#signup-input-password-verification{
	@extend #signup-input-email
}
#signup-input-username{
	@extend #signup-input-email
}

#signup-input-email:focus ~ .container-baloon-email{
	visibility: visible;
}

#signup-input-email:focus {
	background-color: white;
}

#signup-input-password:focus{
	@extend #signup-input-email:focus
}

#signup-input-password-verification:focus{
	@extend #signup-input-email:focus
}

#signup-input-username:focus{
	@extend #signup-input-email:focus
}

.help-box{
	position: relative;
	margin-left: 15px;
	float: left;
	font-weight: bold;
	font-size: 8pt;
	font-family: ProximaNovaSoftRegular;
	background-color: $base-color-1;
	width: 200px;
	height: auto;
	border-radius: 5px;
	top: 0; 
}

.help-box-content{
	padding: 10px 10px;
}

.container-baloon-email{
	//border: 1px solid gold;
	left: 85%;
	visibility: hidden;
	position: absolute;
	float: left;
}

.help-box-verification{
	
	float: left;
	font-weight: bold;
	font-size: 8pt;
	font-family: ProximaNovaSoftRegular;
	background-color: $base-color-1;
	width: 200px;
	height: auto;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 15px;
}

.container-baloon-password{
	@extend .container-baloon-email;
}

.container-baloon-password-verification{
	@extend .container-baloon-email;
}

.container-baloon-username{
	@extend .container-baloon-email;
}
.triangle{
	position: absolute;
	
	border-width: 5px;
	
	margin-left: 5px;
	float: left;
	width: 15px;
	height: 15px;
}


.triangle:after {
    content: "";
    position: relative;
    border-width: 15px 0px 0px 15px;
    border-style: solid;
    border-color: $base-color-1 transparent;
    float: left;
    width: 0;
}

.continue-container{
	padding-bottom: 10px;
}

#continue-button{
	@extend #signup-input-email-content;
	//border: 1px solid gold;
	cursor: pointer;
	font-weight: bold;
	font-family: ProximaNovaSoftRegular;
	font-size: 15pt;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 30px;
	text-align: center;
	position: relative;
	vertical-align: middle;
	border-radius: 100px;
	padding-top: 5px;
	width: 280px;
	height: 50px;
	background-color: #6f7b7b;
	line-height: 50px;
	margin-bottom: 30px;
	/*centraliza perfeitamente*/
}

#continue-button:active{
	background-color: $base-color-1;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1280px) {

	.dialog-box.sign-box {
    	width: 500px;
	}

	.btn-social {
		font-size: 1.1em;
	}


	
}