@import "variables";
.upload-group {
    margin-bottom: 2.5em;
}

.continue-separator {
    position: absolute;
    border: 1px solid #f1f1f1;
    margin-top: -20px;
    width: 100%;
}

.myFileInput {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid black;
    left: 0;
    top: 0;
}

.back-login {
    position: absolute;
    border: 1px solid #d7d7d7;
    color: rgba(87, 87, 87, 0.7);
    float: left;
    padding: 6px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 15px;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: bold;
}

.back-login:active {
    background-color: #d7d7d7;
}

.continue-container {
    padding-bottom: 20px;
}

.currency {
    outline: none;
    position: relative;
    width: 100%;
    height: 4em;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #cad7d7;
    border: #f1f1f1;
    border-radius: 5px;
    color: #303838;
    font-weight: bold;
}


.upload-container {
    float: left;
    margin-left: 1em;
    /* border: 1px solid #19191f; */
}

.upload {
    position: relative;
    margin-left: 58px;
    /*border: 1px solid red;*/
}

.upload-img {
    cursor: pointer;
    float: left;
    width: 100px;
    height: 100px;
    object-fit: fill;
    /*border: 1px solid green;*/
}

.upload-button {
    position: relative;
    display: inline-block;
    /* float: left; */
    // width: 50px;
    height: auto;
    padding: 10px;
    font-size: 1em;
    /* margin-left: 20px; */
    // border-radius: 2px;
    background-color: $base-color-3;
    text-align: center;
    padding: 0.74571em 2.14286em;
    z-index: 1;

}

.bolder {
    font-weight: bolder;
}

.upload-button:active {
    background-color: #d37648;
}

.upload-text {
    display: inline-block;
    color: #888;
    font-size: 1em;
    margin-top: 1.5em;
}

.information {
    color: #888;
    padding-bottom: 1.0em;
    font-size: 1.05em;
}

.container-language {
    height: 6em;
}

.information-language {
    @extend .information;
    margin-left: 0;
}

.choosed-language {
    position: relative;
    float: left;
    border: 1px solid #3ebeba;
    color: #3ebeba;
    font-size: 1.0em;
    padding: 0.8em 1.5em 0.8em 1.5em;
    border-radius: 8px;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.closex {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 6px;
    font-weight: bolder;
    font-size: 1.2em;
    cursor: pointer;
}

.select-speak-language {
    height: 2.9em;
    outline: none;
    background-color: white;
    position: relative;
    float: left;
    border: 1px solid #3ebeba;
    color: #3ebeba;
    font-size: 1.0em;
    border-radius: 8px;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.add-language-button {
    display: inline-block;
    background-color: #3ebeba;
    color: white;
    padding: 0.4em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-radius: 8px;
    margin-top: 0.9em;
    cursor: pointer;
    // float: left;
    //    background-color: #3ebeba;
    //    color: white;
    //    padding: 0.1em;
    //    padding-left: 0.4em;
    //    padding-right: 0.4em;
    //    border-radius: 8px;
    //    margin-top: 0.29em;
    //    cursor: pointer;
    //    font-size: 2em;
}

.uploadlink {
    float: left;
}

.add-language-button:active {
    background-color: #36A09D;
}

.sign-content2 {
    border-radius: 4px;
    background-color: $primary-background-color;
    margin-top: 5%;
    transform: translateX(-50%);
    left: 50%;
    /*border: 1px solid purple;*/
    position: relative;
    width: 400px;
    height: auto;
}

.signup-main-title2 {
    /*border: 1px solid red;*/
    position: relative;
    cursor: default;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 230px;
    font-size: 40pt;
    color: white;
}

.step-title2 {
    font-size: 20pt;
}

.signup-input-currency-content {}

.signup-input-country-content {
    @extend .signup-input-currency-content;
}

.currency:focus ~ .container-baloon-currency {
    visibility: visible;
}

.container-baloon-currency {
    left: 95%;
    visibility: hidden;
    position: absolute;
    float: left;
}

.container-baloon-country {
    @extend .container-baloon-currency;
}

.help-box {
    position: relative;
    margin-left: 15px;
    float: left;
    font-weight: bold;
    font-size: 8pt;
    font-family: ProximaNovaSoftRegular;
    background-color: $base-color-1;
    width: 200px;
    height: auto;
    border-radius: 5px;
    top: 0;
}

.help-box-content {
    padding: 10px 10px;
}

.triangle {
    border-width: 5px;
    margin-top: 16px;
    margin-left: 5px;
    float: left;
    width: 15px;
    height: 15px;
}

.triangle:after {
    content: "";
    position: relative;
    border-width: 15px 0px 0px 15px;
    border-style: solid;
    border-color: $base-color-1 transparent;
    display: block;
    width: 0;
}

#create-account-button {
    //border: 1px solid gold;
    cursor: pointer;
    font-weight: bold;
    font-family: ProximaNovaSoftRegular;
    font-size: 12pt;
    left: 53%;
    margin-top: 90px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    border-radius: 4px;
    width: 166px;
    height: 42px;
    background-color: #ff8a50;
    line-height: 42px;
    /*centraliza perfeitamente*/
}

#create-account-button:active {
    background-color: #d37648;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1650px) {
    .signup-main-title2 {
        padding-bottom: 160px;
        -webkit-transition: margin-top, padding-bottom 0.3s;
        font-size: 25pt;
    }
    .sign-content2 {
        margin-top: 3%;
    }
}

@media screen and (max-width: 1280px) {
    .signup-main-title2 {
        padding-bottom: 120px;
        -webkit-transition: margin-top, padding-bottom 0.3s;
    }
    .sign-content2 {
        top: 0%;
    }
}

@media screen and (max-width: 800px) {
    .signup-main-title2 {
        top: 0%;
        padding-bottom: 100px;
        font-size: 30pt;
        -webkit-transition: font-size, margin-top, padding-bottom 0.3s;
    }
    #signup-input-base {
        width: 180px;
        -webkit-transition: width 0.3s;
    }
    #signup-input-firstcurrency {
        width: 70px;
    }
    #signup-input-lastcurrency {
        width: 70px;
    }
    #create-account-button {
        padding-top: 0px;
        width: 210px;
        height: 40px;
        line-height: 40px;
        font-size: 12pt;
        -webkit-transition: font-size, padding-top, width, height, line-height 0.3s;
    }
    .container-baloon-currency {
        left: 68%;
        -webkit-transition: left 0.3s;
    }
}
