.tags-container{
	color: black;
	position: absolute;
	margin-left: 3%;
	padding-right: 10%;
	min-width: 30%;
	height: 100%;
	/*border: 1px solid red;*/
	overflow: auto;
	
}

.tag-container{
	cursor: pointer;
	position: relative;
	width: 144px;
	float:left;
	margin-top: 20px;
	margin-right: 20px;
 }

.img-tag{
	background-color: black;
	width: 144px;
	height: 200px;
	object-fit: fill;
}

.tag-name-dynamic{
	color: #323256;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 144px;
	height: auto;
	margin: 0;
	margin-top: 8px;
	font-size: 11pt;
	font-weight: bold;
	font-family: ProximaNovaSoftRegular;
}

.tag-viwers{
	@extend .tag-name-dynamic;
	margin-top: 4px;
	font-size: 9pt;
	color: #968c8c;
}

/*@media screen and (max-width: 1650px) {

	.tags-container{
		margin-left: 320px;
		-webkit-transition:margin-left 200ms;
	}
}

@media screen and (max-width: 1280px) {

	.tags-container{
		margin-left: 290px;
		-webkit-transition:margin-left 200ms;
	}
}

@media screen and (max-width: 800px) {
	.tags-container{
		margin-left: 240px;
		-webkit-transition:margin-left 200ms;
	}

	.tag-container{
		width: 140px;
		margin-right: 0;
		-webkit-transition:width, margin-right 200ms;
	}
	
	.img-tag {
    	width: 120px;
    	height: 160px;
   	 	object-fit: fill;
   	 	-webkit-transition:width, height 200ms;
	}

	.tag-name-dynamic, .tag-viwers{
		width: 120px;
		font-size: 70%;
		-webkit-transition:width, font-size 200ms;
	}
}*/