@import "variables";

.view-properties{
	color: #0d515c;
	margin-top: 25%;
}
.yours-stuffs-container{
	position: relative;
    width: 20em;
    font-size: 1.0em;
    display: inline-block;
    margin-right: 2em;
    margin-top: 2em;
}

.your-img-container{
	position: relative;
    width: 100%;
    height: 20em;
}

.your-img{
	border-radius: 5px 5px 0 0;
	position: absolute;
	object-fit: fill;
	width: 100%;
    height: 20em;
}

.your-stuffs-over-effect{
	opacity: 0;
	border-radius: 5px 5px 0 0;
	background-color: rgba(61,177,173,0.8);
	position: absolute;
	width: 100%;
	height: 100%;
}

.your-img-container:hover .your-stuffs-over-effect{
	opacity: 1;
	-webkit-transition: opacity 0.3s;
    -ms-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
}

.view{
	cursor: pointer;
	position: absolute;
    width: 7em;
    height: 7em;
    background-color: white;
    border-radius: 100px;
    transform: translateX(-50%);
    top: 25%;
    left: 50%;
}

.view-img{
	position: relative;
    width: 3em;
    margin-top: 25%;
}

.text-view{
	color: #0d515c;
    font-size: 1.2em;
    font-weight: bold;
}

.your-information{
	background-color: white;
	border-radius: 0 0 5px 5px;
}

.info-conteiner{
	display: inline-block;
	margin: 1em;
}

.your-level{
	color: $secondary-menu-color;
	font-size: 1.2em;
	margin-top: 0.5em;
    font-weight: bold;
}

.level-icon-img{
	width: 1.7em;
}

a.tooltips {
  position: relative;
  display: inline-block;
  color: $secondary-menu-color;
}
a.tooltips span {
	position: absolute;
    width: 5em;
    color: #FFFFFF;
    background: #000000;
    height: 3.5em;
    line-height: 3.5em;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    margin-bottom: 2.1em;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.6em;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
    opacity: 1;
    bottom: 3.6em;
    left: 50%;
    margin-left: -2.6em;
}