<template name="streamTemplate" >

<!--
<iframe webkit-playsinline src='http://players.brightcove.net/3361910549001/497f3c86-b138-45f9-80fc-f7f3c9dc1afa_default/index.html?playlistId=ref:GamesAcademyPlaylist' height="100%" width="100%" allowfullscreen frameborder=0></iframe>

-->
<iframe  src="http://www.hitbox.tv/embed/uccleague" height="100%" width="100%" frameborder="0" allowfullscreen></iframe>

</template>