<template name="teste">
	<div class="tags-container">
	
		19/Nov, 10:15!
		<br >
		<input class="myFileInput" type="file" value="Upload">
		<br ><br >

		{{> imageView}}
	</div>
</template>

<template name="imageView">
  <div class="imageView overflow-scroll channel-background">
    {{#each images}}
      <div>
      	ID: {{this._id}} <br />
      	Name: {{this.name}} <br />
        <a href="{{this.url}}" target="_blank"><img src="{{this.url}}" alt="" class="thumbnail" /></a>
      </div>
    {{/each}}
  </div>
</template>
<!-- width="1300px" height="1300p 
esl_csgo
"http://www.twitch.tv/esl_csgo/embed"
-->
<template name="stream">
	<div class="tags-container clicavel">
		Uma stream! <br >
		<iframe id="16463093360" type="text/html" src={{src}} width="300px" height="200px">
		</iframe>
	</div>
</template>