<template name="browse">
    <div class="browse-container">
        <div tabindex="0" class="overlay">
            <div class="turnoffmodal dismissModal">
                <a href="javascript: void(0);" class="overlay-closer">
                    <span class="icon icon-24 icons-cross"></span>
                </a>
            </div>
            <div class="game-browser .postfix-1 .prefix-1">
                <ul class="game-browser-toolbar">
                    <li name="tabfavorites" class="item clickable browse-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-heart"></span>
                        </div>
                        <p class="label center not-clickable browseTabLabel browseTabLabelTrigger">
                            <a href="javascript: void(0);">
                                <strong>Favorites</strong>
                            </a>
                        </p>
                    </li>
                    <li name="tabtags" class="item clickable browse-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-list"></span>
                        </div>
                        <p class="label center not-clickable browseTabLabel browseTabLabelTrigger">
                            <a href="javascript: void(0);">
                                <strong>Tags</strong>
                            </a>
                        </p>
                    </li>
                    <li name="tabchannels" class="item clickable browse-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-users"></span>
                        </div>
                        <p class="label center not-clickable browseTabLabel browseTabLabelTrigger">
                            <a name="tab-channels" href="javascript: void(0);">
                                <strong>Channels</strong>
                            </a>
                        </p>
                    </li>
                    <li name="tabevents" class="item clickable browse-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-money-stack"></span>
                        </div>
                        <p class="label center not-clickable browseTabLabel browseTabLabelTrigger">
                            <a href="javascript: void(0);">
                                <strong>Events</strong>
                            </a>
                        </p>
                    </li>
                    <li name="teste" class="item clickable browse-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-warning"></span>
                        </div>
                        <p class="label center not-clickable browseTabLabel browseTabLabelTrigger">
                            <a href="javascript: void(0);">
                                <strong>Teste</strong>
                            </a>
                        </p>
                    </li>

                    <li name="tabsearch" class="item clickable browse-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-search"></span>
                        </div>
                        <p class="label center not-clickable browseTabLabel">
                            <a href="javascript: void(0);">
                                <strong>Search</strong>
                            </a>
                        </p>
                        <div class="search-input-wrapper pull-left">
                            <input class="search-input" placeholder="E.g. tag, event, channel">
                        </div>
                    </li>
                                        <!-- <li name="teste" class="item clickable">
                        <div name="teste" class="icon center">
                            <span class="icon icon-32 icons-search"></span>
                        </div>
                        <p name="teste" class="label center">
                            <a href="javascript: void(0);">
                                <strong>Teste</strong>
                            </a>
                        </p>
                    </li> -->
                    <!-- <li name="bets" class="browse-option-container-bets  browse-option">
                    <img name="bets"  src="/imgs/icon_coin.png" alt="" class="img-coin">
                    <div name="bets"  class="event-name">Bets</div>
                    <div class="choose-effect" name="choose-effect-bets"></div>
                </li>
                <li name="channels" class="browse-option-container-channels browse-option">
                    <img name="channels" src="/imgs/icon_coin.png" alt="" class="img-coin">
                    <div name="channels" class="channel-name">Channels</div>
                    <div class="choose-effect" name="choose-effect-channels"></div>
                </li>
                <li name="users" class="browse-option-container-users browse-option">
                    <img name="users" src="/imgs/icon_coin.png" alt="" class="img-coin">
                    <div name="users" class="users-name">Users</div>
                    <div class="choose-effect" name="choose-effect-users"></div>
                </li>
                <li name="search" class="browse-option-container-search browse-option" >
                    <img name="search" src="/imgs/search-browse.png" alt="" class="img-coin-search">
                    <div name="search" class="search-name">Search</div>
                    <div class="choose-effect" name="choose-effect-search"></div>
                </li>
                <li name="teste" class="browse-option-container-search browse-option" >
                    <img name="teste" src="/imgs/search-browse.png" alt="" class="img-coin-search">
                    <div name="teste" class="search-name">Teste</div>
                    <div class="choose-effect" name="choose-effect-teste"></div>
                </li> -->
                </ul>
                <div class="selected-content">
                    {{> browseContent}}
                </div>
            </div>
        </div>
    </div>
</template>
