<template name="ForgotPassword">

    <form action="/forgot" id="forgotPasswordForm" method="post" style="
    text-align: center;
    margin-top: 40em;
">
    <div style="    color: #3ebeba;
    font-size: 3em;
    width: 80%;
    transform: translateX(10%);
    margin: 1em;">We will send you a email to you reset your password</div>

      <input id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address" style="
    border: 1px solid lightgray;
    font-size: 3em;
    padding: 0.5em;
    display: inline-block;
    outline: none;">
      <input class="btn-submit" type="submit" value="Send" style="
    background-color: #3ebeba;
    width: 100px;
    height: 78px;
    display: inline-block;
    border: none;
    transform: translateY(-8%);
    font-size: 2em;
    color: white;
    -webkit-appearance: none;
">
<div style={{style}}>{{message}}</div>
    </form>
    <!-- end #forgot-password-form -->

</template>

<template name="ResetPassword">

    {{#if resetPassword}}

    <form action="/reset-password"  id="resetPasswordForm" method="post" style=" padding: 1em;border-radius: 10px;border: 1px solid lightgray;position: absolute;top: 20%; transform: translateX(-50%);left: 50%;box-shadow: 10px 10px 5px #888888;">
        <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" style="    
    font-size: 1.5em;
    padding: 0.3em;
    outline: none;
    display: inherit;
    margin-bottom: 0.5em;
    border-radius: 5px;
    border-style: none;
    border: 1px solid darkgray;
;
    ">
        <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" style="    
    font-size: 1.5em;padding: 0.3em; outline: none; display: inherit; margin-bottom: 0.5em;border-radius: 5px; border-style: none; border: 1px solid darkgray;
    ">
        <input class="btn-submit" type="submit" value="Reset" style="    
    transform: translateX(-50%); margin-left: 50%; background-color: #3ebeba; border: none;width: 100%;font-size: 1.5em; color: white;padding: 0.35em;border-radius: 10px;;
    ">

    <div style="
    color: red;
    text-align: center;
    margin-top: 1em;
    font-size: 1.2em;
    ">{{message}}</div>
    </form>
    <!-- end #reset-password-form -->
    {{/if}}

</template>