<head>
    <title>Gami</title>
    <meta name="viewport" content="user-scalable=0">
</head>

<template name="main">
    <div class="homeContainer">
        {{#each facades}}
        <div class="homeConainerCenter">
            <div class="group">
                <h2 class="titleSection">
                    {{category_name}}
                    <span class="subtitleSection">
                        Choice of Forum
                    </span>
                </h2>
            </div>
            {{#each channels}}
            <a href="{{pathFor route='channel'}}" title="">
                    <div class="one-channel">
                        <img class="img-channel-home" src={{image.channel_photo_url}} alt="">
                        <div class="gradient-efect">
                            <div class="container-names">
                                <div class="channel-user-title-home">
                                    <span><img class="user-simple-icon" src="/imgs/person-icon.png" alt=""></span>{{username}}
                                </div>
                                <div class="channel-title-home">
                                    {{name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
        {{/each}}
    </div>

</template>

<template name="home">
</template>
<template name="page1">
    Estou na PAGE 1
</template>
<template name="page2">
    Estou na PAGE 2
</template>
<template name="navigation">
    <ul>
        <li><a href="{{pathFor route='home'}}" title="">Home</a></li>
        <li><a href="{{pathFor route='page1'}}" title="">Page 1</a></li>
        <li><a href="{{pathFor route='page2'}}" title="">Page 2</a></li>
    </ul>
</template>
