<template name="sidebar">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="sidebar">
        <div class="sidebar_content">
            <ul class="options">
                <li class="menu_option logoItem ahover" value="logo">
                    <a href="javascript: void(0);" value="logo">
                        <span class="icon icon-24 icons-menu"></span>
                        <div class="option-overlay option-logo"></div>
                        <div class="option-content">
                            <img src="/imgs/sidebar_imgs/Glogo.svg" class="logo">
                        </div>
                    </a>
                </li>
                <li class="menu_option loginItem">
                    <a href="javascript: void(0);" value="login" class="ahover">
                        <div class="option-overlay option-a" name="over-login"></div>
                        <div class="option-content color_login" name="color-login">
                            {{userName}}
                        </div>
                    </a>
                </li>
                <li class="menu_option signUpItem">
                    <a href="javascript: void(0);" value="signUp" class="ahover">
                        <div class="option-overlay option-b" name="over-signUp"></div>
                        <div class="option-content color_signUp" name="color-signUp">
                            Sign Up
                        </div>
                    </a>
                </li>                
                <li class="menu_option browseItem">
                    <a href="javascript: void(0);" value="browse" class="ahover">
                        <div class="option-overlay option-c" name="over-browse"></div>
                        <div class="option-content color_browse leftalign" name="color-browse">
                            Browse
                        </div>
                    </a>
                </li>
                <div class="bigoption" tabindex="0"></div>
            </ul>
            <div tabindex="0" class="transparence-content">
            </div>
        </div>
       <!--  <iframe src="http://www.twitch.tv/esl_csgo/chat?popout=" frameborder="0" scrolling="no" height="100%" width="100%"></iframe> -->
        <div class="menu_option footer faqItem" value="faq">
            <a href="javascript: void(0);" value="faq" class="ahover">
                <div class="option-overlay option-d" name="over-faq"></div>
                <div class="option-content color_help alignLeft" name="color-faq">
                    Faq
                </div>
            </a>
        </div>
    </div>
    
    {{> globalModal}}

<div class="main-container">
        {{> yield}} {{#if presentModal}} {{> DynamicTemplate template=getModal }} {{/if}}
    </div>
</template>
