<template name="missions">
    <div class="missions-container">
        <div class="inner-missions-container">
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                Accout Linked!
                </b>
                <p class="">
            		 	Congratulations! you have linked your online account to your smartphone!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon invisible">
                    <div class="badge">
                        <img class="img-badge-gotten visible">
                    </div>
                </div>
            </a>

            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                Invite Some Friends
                </b>
                <p class="">
            		 	Invite at least 4 friends and become their masters to got this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass twice!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon invisible">
                    <div class="badge">
                        <img class="img-badge-not-gotten visible">
                    </div>
                </div>
            </a>

            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>
            <a class="tooltips float-blocks" href="#">
                <span class="tootip-botton">
                <div class="info-container container-padding">
                	<b class="">
                You can't see that now!
                </b>
                <p class="">
            		 	Get more experience to see this badge!
            		 </p>
                </div>
                
                <div class="info-exp container-padding border-bottom">
                	<b class="exp-color">350 EXP</b>
            		 <p class="exp-color border-bottom">
            		 	You can fuck Isaac's ass a lot!
            		 </p>
                </div>
            		 
            		 </span>
                <div class="hexagon visible">
                    <div class="badge">
                        <img class="img-badge-gotten invisible">
                    </div>
                </div>
            </a>

            
        </div>
    </div>
</template>
