<template name="yoursStuffs">
    <div class="yours-stuffs-container">
        <div class="your-img-container">
            <img class="your-img" src={{profilePhoto}} alt="">
            <div class="your-stuffs-over-effect">
                <div class="view center">
                    <div class="level-icon view-properties">
                                <div class="icon icon-32 icons-view"></div>
                            </div>
                    <div class="text-view">
                        View
                    </div>
                </div>
            </div>
        </div>
        <div class="data-stuff-container">
            <div class="data-stuff-content">
                <div class="your-information center">
                    <a class="tooltips" href="#">
                        <div class="info-conteiner">
                            <div class="level-icon">
                                <div class="icon icon-24 icons-level"></div>
                            </div>
                            <div class="your-level center">
                                13
                            </div>
                        </div>
                        <span>Level</span>
                    </a>
                    <a class="tooltips" href="#">
                        <div class="info-conteiner">
                            <div class="level-icon">
                                <div class="icon icon-24 icons-servant"></div>
                            </div>
                            <div class="your-level center">
                                666
                            </div>
                        </div>
                        <span>Servants</span>
                    </a>
                    <a class="tooltips" href="#">
                        <div class="info-conteiner">
                            <div class="level-icon">
                               
                                <div class="icon icon-24 icons-money-stack"></div>
                            </div>
                            <div class="your-level center">
                                ฿ 23
                            </div>
                        </div>
                        <span>Money</span>
                    </a>
                    <a class="tooltips" href="#">
                        <div class="info-conteiner">
                            <div class="level-icon">
                                <div class="icon icon-24 icons-badges"></div>
                            </div>
                            <div class="your-level center">
                                8/50
                            </div>
                        </div>
                        <span>Badges</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
