<template name="logged">
	<div class="browse-container">
        <div tabindex="0" class="overlay">
            <div class="turnoffmodal dismissModal" ></div>
            <div class="game-browser .postfix-1 .prefix-1">
                <ul class="game-browser-toolbar">

                    <li name="yoursStuffs" class="item clickable user-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-stuff"></span>
                        </div>
                        <p class="label center not-clickable">
                            <a href="javascript: void(0);">
                                <strong>Your Stuffs</strong>
                            </a>
                        </p>
                    </li>
                    <li name="servants" class="item clickable user-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-servant"></span>
                        </div>
                        <p class="label center not-clickable">
                            <a href="javascript: void(0);">
                                <strong>Servants</strong>
                            </a>
                        </p>
                    </li>
                    <li name="mychannel" class="item clickable user-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-my-channel"></span>
                        </div>
                        <p class="label center not-clickable">
                            <a name="tab-channels" href="javascript: void(0);">
                                <strong>My Channel</strong>
                            </a>
                        </p>
                    </li>
                    <li name="missions" class="item clickable user-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-missions"></span>
                        </div>
                        <p class="label center not-clickable">
                            <a href="javascript: void(0);">
                                <strong>Missions</strong>
                            </a>
                        </p>
                    </li>
                    <li name="settings" class="item clickable user-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-settings"></span>
                        </div>
                        <p class="label center not-clickable">
                            <a href="javascript: void(0);">
                                <strong>Settings</strong>
                            </a>
                        </p>
                    </li>

                    <li name="logout" class="item clickable user-option">
                        <div class="icon center not-clickable">
                            <span class="icon icon-32 icons-warning"></span>
                        </div>
                        <p class="label center not-clickable">
                            <a href="javascript: void(0);">
                                <strong>Logout</strong>
                            </a>
                        </p>
                    </li>

                    </ul>
                <div class="selected-content">
                    <!-- {{> browseContent}} -->
                    {{> loggedTabContent}}
                </div>
            </div>
        </div>
    </div>
</template>