<template name="login">
    <div class="overlay">
        <div class="turnoffmodal dismissModal">
            <a href="javascript: void(0);" class="overlay-closer">
                <span class="icon icon-24 icons-cross"></span>
            </a>
        </div>
        <div class="dialog-box login-box">
            <div class="center">
                <img class="mini-logo" src="/imgs/sidebar_imgs/Glogo.svg" alt="">
            </div>
            <div class="group">
                <input type="text" class="input item" id="login-input" placeholder="Username or E-mail" />
                <input type="password" class="input item" id="password-input" placeholder="Your password" />
            </div>
            <div class="group">
                <a href="javascript:void(0)" id="login-button-action" class="button teal full-width center item">Log In</a>
                <a href="javascript:void(0)" class="button grey-dark full-width center item">Open account</a>
            </div>
            <div class="group center">
                <a href="javascript:void(0)"> I've forgot my password</a>
            </div>
        </div>
    </div>
</template>
