<template name="liveEvents">
	<table id="betTable">
	  <tr id="table-title">
	    <th>Live Event</th>
	    <th>Answer</th>		
	    <th>You Bet</th>
	    <th>Total Pot</th>
	  </tr>
	  {{#each betList this._id}}
	  	{{> bettd}}
	  {{else}}
	  	<h3>No items!</h3>
	  {{/each}}
 	</table>
</template>

<template name="bettd">
	  <tr>
		    <td id="live-event-bet"><div><img class="bet-icon" src="/imgs/channel-sword-img.png" alt=""></div><div class="teste">{{title}}</div> </td>

		    <td id="answer-bet">{{myAnswer this}}</td>

		    <td id="you-bet"><span><img class="coin-icon" src="/imgs/coin-icon.png" alt=""></span>{{myBet this}}</td>

		    <td id="total-pot-bet"><div class="pot-ammount"><img class="coin-icon" src="/imgs/coin-icon.png" alt="">&nbsp;&nbsp;{{totalPot this}}</div>{{#if iBetIt this}} <div class="play-bet play-modal">Play</div> {{/if}}</td>
	  </tr>
</template>
