<template name="tabtags">
	<div class="tags-container">
	{{#each tagList}}
		<div class="tag-container sidebarModalOut">
			<img class="img-tag" src={{this.image.url}}>
			<div class="tag-name-dynamic">{{name}}</div>
			<div class="tag-viwers">{{viwers}}&nbsp;Viwers </div>
		</div>
	{{else}}
   		<h4>No Tags.</h4>   
	{{/each}}
	</div>
</template>