<template name="optionPopup">
	<div class="option-poup">
		<div class="close close-play-modal">
			<div class="x">X</div>
		</div>
		<div class="popup-options-container">
			<div class="popup-container-title">
				<div class="popup-title">
					Which team will win this match?
				</div>
			</div>
			<div class="popup-input-container">
				<span id="popup-cifrao">$</span><input id="popup-input" type="number" name="" value="100">
			</div>
			<div class="popup-range-container">
				<div class="popup-range-wrapper">
					<input class="popup-range" type="range" name="" value="" placeholder="">
				</div>
				
			</div>	
				<div class="popup-scroll">
					<div class="popup-options">
					<div class="bet-option-container-popup">
						<div class="bet-option-popup" tabindex="0">
							<div class="bet-option-text ">
								Luminosity Gaming
							</div>
							<div class="bet-percent">
								68%
							</div>
						</div>

					</div>	
			</div>
				</div>
				
		</div>
	</div>
</template>