<template name="editChannel">
    <div class="overlay">
        <div class="turnoffmodal dismissModal">
            <a href="javascript: void(0);" class="overlay-closer">
                <span class="icon icon-24 icons-cross"></span>
            </a>z
        </div>
        <div class="dialog-box sign-box">
            <div class="dialog-left">
                <div class="dialog-container-left">
                    <div class="signuplabel"><strong>Edit my channel</strong></div>
                    <div class="group">
                        <div class="group">
                            <div class="edit-title-container">
                                <div class="edit-title-section space">Channel Title</div>
                            </div>
                            <input type="text" class="input item input-edit " id="password-input" placeholder={{this.name}} />
                        </div>
                        <div class="group">
                            <div class="edit-title-container subtitle">
                                <div class="edit-title-section space">Stream Links</div>
                            </div>

                            <div class="input-subtitle-container">
                            {{#each categoryList}}
                            <div class="service-link-container">
                            	<select class="currency country-select half-width">
                                    <option value="Twitch">Twitch</option>
                                    <option value="Azubu">Azubu</option>
                                    <option value="HitBox">HitBox</option>
                                    <option value="UStream">UStream</option>
                                </select>
                                
                                <input type="text" class="input item input-edit half-width" id="password-input" placeholder="Channel link" />
                            </div>
                            {{/each}}

                                <div class="add-language-button">+</div>
                            </div>
                        </div>
                        <div class="group">
                            <div class="edit-title-container subtitle">
                                <div class="edit-title-section space">Category</div>
                            </div>
                            <div class="input-subtitle-container">
                                <select class="currency country-select">
                                {{#each categoryList}}
                                    <option value="">{{name}}</option>
                                {{else}}

                                {{/each}}

                                </select>
                                <div class="edit-title-section space">Hashtag</div>
                                <input type="text" class="input item input-edit " id="password-input" placeholder="#hashtag" />
                            </div>
                        </div>
                        <div class="group">
                            <div class="edit-title-container subtitle">
                                <div class="edit-title-section space">Language</div>
                            </div>
                            <div class="input-subtitle-container">
                                <select class="currency country-select">
                                    <option value="3">Español</option>
                                    <option value="5">Deutsch</option>
                                    <option value="6">Italiano</option>
                                    <option value="7">Dansk</option>
                                    <option value="8">Svenska</option>
                                    <option value="9">Norsk</option>
                                    <option value="2">繁體中文</option>
                                    <option value="10">简体中文</option>
                                    <option value="19">Български</option>
                                    <option value="20">Ελληνικά</option>
                                    <option selected="selected" value="22">Português</option>
                                    <option value="21">Polski</option>
                                    <option value="23">Română</option>
                                    <option value="24">Česky</option>
                                    <option value="25">Magyar</option>
                                    <option value="26">Slovenčina</option>
                                    <option value="28">Nederlands</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-right">
                <div class="dialog-container-right">
                    <div class="group">
                        <div class="edit-title-container">
                            <div class="edit-title-section space">Cover Photo</div>
                        </div>
                        <div class="upload-cover-container">
                            <img class="img-cover" src="/imgs/signup_imgs/upload-img-cover.svg" alt="">
                            <div class="upload-cover">
                                <input class="myFileInput" type="file" value="Choose or upload"> Upload
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="edit-title-container">
                            <div class="edit-title-section space">Channel Photo</div>
                        </div>
                        <div class="upload-cover-container">
                            <img class="img-cover" src="/imgs/channel-img-test.png" alt="">
                            <div class="upload-cover">
                                <input class="myFileInput" type="file" value="Choose or upload"> Upload
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <a value="done" id="signup-done" href="javascript:void(0)" class="button grey-dark full-width center item done">Done!</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="dialog-box edit-width">
            <div class="edit-title">
                Edit My Channel
            </div>
            <div class="line"></div>
            <form>
                <div class="group">
                    <div class="edit-title-container">
                        <div class="edit-title-section space">Channel Title</div>
                    </div>
                    <input type="text" class="input item input-edit " id="password-input" placeholder="Channel name" />
                </div>
                <div class="group">
                    <div class="edit-title-container subtitle">
                        <div class="edit-title-section space">Category</div>
                    </div>
                    <div class="input-subtitle-container">
                        <select class="currency country-select">
                            <option value="">teste</option>
                            
                        </select>
                        <div class="edit-title-section space">Hashtag</div>

                        <select class="currency country-select">
                            <option value="">teste2</option>   
                        </select>
                    </div>
                </div>
                <div class="group">
                    <div class="edit-title-container">
                        <div class="edit-title-section space">Cover Photo</div>
                    </div>
                    <div class="upload-cover-container">
                        <img class="img-cover" src="/imgs/signup_imgs/upload-img-cover.svg" alt="">
                        <div class="upload-cover">
                            <input class="myFileInput" type="file" value="Choose or upload"> Upload
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="edit-title-container subtitle">
                        <div class="edit-title-section space">Language</div>
                    </div>
                    <div class="input-subtitle-container">
                        <select class="currency country-select">
                            <option value="">testeBuceta</option>
                            
                        </select>

                    </div>
                </div>
                <div class="group">
                    <div class="edit-title-container subtitle">
                        <div class="edit-title-section space">Stream Links</div>
                    </div>
                    <div class="input-subtitle-container">
                        <select class="currency country-select half-width">
                            <option value="">teste de canal</option>
                            
                        </select>
                        <input type="text" class="input item input-edit half-width" id="password-input" placeholder="Your channel link here" />
                        <div class="add-language-button">+</div>
                    </div>
                </div>

            </form>
        </div> -->
    </div>
</template>
